<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>Listing reputation_maps</h1>

  <table>
    <thead>
      <tr>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007e90280></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007e98660></th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reputation_maps.each do |reputation_map| %>
        <tr>
            <td><%= reputation_map.from_rep_id %></td>
            <td><%= reputation_map.to_rep_id %></td>
            <td><%= link_to 'Show', reputation_map %></td>
          <td><%= link_to 'Edit', edit_reputation_map_path(reputation_map) %></td>
          <td><%= link_to 'Destroy', reputation_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New reputation_map', new_reputation_map_path %>
</div>