<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>mod_list_stars</h1>

  <table>
    <thead>
      <tr>
          <th>mod_list_id</th>
          <th>user_id</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @mod_list_stars.each do |mod_list_star| %>
        <tr>
            <td><%= mod_list_star.mod_list_id %></td>
            <td><%= mod_list_star.user_id %></td>
            <td><%= link_to 'Show', mod_list_star %></td>
          <td><%= link_to 'Edit', edit_mod_list_star_path(mod_list_star) %></td>
          <td><%= link_to 'Destroy', mod_list_star, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New User Mod List Star Map', new_mod_list_star_path %>
</div>