<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>mod_list_id:</strong>
    <%= @mod_list_star.mod_list_id %>
  </p>

    <p>
    <strong>user_id:</strong>
    <%= @mod_list_star.user_id %>
  </p>

    <%= link_to 'Edit', edit_mod_list_star_path(@mod_list_star) %> |
  <%= link_to 'Back', mod_list_stars_path %>
</div>