<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>masters</h1>

  <table>
    <thead>
      <tr>
          <th>mst_id</th>
          <th>pl_id</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @masters.each do |master| %>
        <tr>
            <td><%= master.mst_id %></td>
            <td><%= master.pl_id %></td>
            <td><%= link_to 'Show', master %></td>
          <td><%= link_to 'Edit', edit_master_path(master) %></td>
          <td><%= link_to 'Destroy', master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Master', new_master_path %>
</div>