<%= form_for(@reputation_link) do |f| %>
  <% if @reputation_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reputation_link.errors.count, "error") %> prohibited this reputation_link from being saved:</h2>

      <ul>
      <% @reputation_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_rep_id %><br>
    <%= f.number_field :from_rep_id %>
  </div>
  <div class="field">
    <%= f.label :to_rep_id %><br>
    <%= f.number_field :to_rep_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>