<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>from_rep_id:</strong>
    <%= @reputation_link.from_rep_id %>
  </p>

    <p>
    <strong>to_rep_id:</strong>
    <%= @reputation_link.to_rep_id %>
  </p>

    <%= link_to 'Edit', edit_reputation_link_path(@reputation_link) %> |
  <%= link_to 'Back', reputation_links_path %>
</div>