<!DOCTYPE html>
<html lang="en" ng-app="modPicker">
<head>
    <meta charset="UTF-8">
    <title ng-bind="pageTitle" ng-init="pageTitle = 'Mod Picker: <%= @current_game.display_name %>'"></title>
    <%= javascript_include_tag 'modpicker-vendor' %>
    <link ng-controller="themesController" rel="stylesheet" href="<%= stylesheet_path "main/#{@current_theme}" %>" ng-href="{{currentTheme}}" />
    <script>
        window._token = '<%= form_authenticity_token %>';
        window._current_game_id = <%= @current_game.id %>;
        window._stylesheets = {
            Whiterun: "<%= stylesheet_path 'main/Whiterun' %>",
            Darkwater: "<%= stylesheet_path 'main/Darkwater' %>",
            Blackreach: "<%= stylesheet_path 'main/Blackreach' %>",
            'High Hrothgar': "<%= stylesheet_path 'main/High Hrothgar' %>"
        }
    </script>
</head>

<body ng-cloak ng-controller="bodyController" ng-class="{ 'no-scroll' : modalVisible }">
    <%= yield %>

    <%= javascript_include_tag 'modpicker' %>
</body>
</html>
