<!DOCTYPE html>
<html lang="en" ng-app="modPicker">
<head>
  <meta charset="UTF-8">
  <title>Mod Picker: Angular Preview</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'rzslider.min' %>
  <%= stylesheet_link_tag @current_theme %>
  <script>
    window._token = '<%= form_authenticity_token %>';
    window._current_theme = '<%= @current_theme %>';
    window._current_game_id = <%= @current_game.id %>;
    window._stylesheets = {
      whiterun: "<%= stylesheet_path 'Whiterun' %>",
      darkwater: "<%= stylesheet_path 'Darkwater' %>",
      blackreach: "<%= stylesheet_path 'Blackreach' %>",
      high_hrothgar: "<%= stylesheet_path 'High Hrothgar' %>"
    }
  </script>
</head>
<body>
<header>
  <div class="page-container">
    <div class="header">
      <a class="logo" href="/"><h1>Mod Picker</h1></a>
      <div class="nav-controls">
        <ul class="user-nav">
          <% if User.exists?(current_user.id) %>
              <li>
                Welcome <%= link_to current_user.username, "#/profile/#{current_user.id}" %>
              </li>
              <li>
                <a href="#/settings/mod_lists">Saved Mod Lists</a>
              </li>
              <li>
                <a href="#/settings">Settings</a>
              </li>
              <li>
                <a href="/users/sign_out">Log Out</a>
              </li>
          <% else %>
              <li>
                <a href="/users/sign_in">Log In</a>
              </li>
              <li>
                <a href="/users/sign_up">Register</a>
              </li>
          <% end %>
          <li>
            <a>
              <form method="post" id="game-select-form">
                <select class="game-selector" onchange="location = this.value;">
                  <% @games.each do |game| %>
                    <option value="<%= game.nexus_name %>" <%= "selected" if @current_game.id == game.id %>>
                      <%= game.display_name %>
                    </option>
                  <% end %>
                </select>
                <span class="game-icon <%= "icon-#{@current_game.abbr_name}" %>">
                  <span class="game-label"><%= @current_game.display_name %></span>
                </span>
              </form>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<nav>
  <div class="page-container">
    <div class="nav-wrapper clearfix">
      <div class="primary-nav">
        <a class="nav-modlist" href="#">
          <span class="nav-icon">
            <i class="fa fa-pencil-square-o"></i>
          </span>
          <span class="nav-text">
            <b>Edit your</b>
            Mod List
          </span>
        </a>
        <a class="nav-contributions" href="#">
          <span class="nav-icon">
            <i class="fa fa-comments"></i>
          </span>
          <span class="nav-text">
            <b>View recent</b>
            Contributions
          </span>
        </a>
        <a class="nav-browse-modlists" href="#">
          <span class="nav-icon">
            <i class="fa fa-list"></i>
          </span>
          <span class="nav-text">
            <b>See all</b>
            Public Mod Lists
          </span>
        </a>
        <a class="nav-browse-mods" href="#/mods">
          <span class="nav-icon">
            <i class="fa fa-globe"></i>
          </span>
          <span class="nav-text">
            <b>Browse</b>
            Skyrim Mods
          </span>
          <span class="nav-dropdown"></span>
        </a>
        <a class="nav-submit-mod" href="#/submit">
          <span class="nav-icon">
            <i class="fa fa-plus-square"></i>
          </span>
          <span class="nav-text">
            <b>Submit</b>
            A Skyrim Mod
          </span>
        </a>
      </div>
      <div class="secondary-nav">
        <div class="search" ng-controller="searchInputController">
          <form>
            <input class="search-field" type="text" autocomplete="off" ng-model="search" placeholder="Search...">
            <div class="loadingButtonContainer">
              <input class="btn action-btn" type="submit" value="Search" ng-click="processSearch()" ng-hide="loading"/>
              <loader data="!!!loading"></loader>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>

<%= yield %>

<footer>
  <div class="page-container">
    <div class="left-column wide-column">
      <span class="logo"><h1>Mod Picker</h1></span>
      &copy;2016 Mod Picker, LLC.  All rights reserved.
    </div>
    <div class="right-column">
      <section>
        <span class="section-title">
          Browse Content
        </span>
        <ul>
          <li><a href="#/mod_lists">Mod Lists</a></li>
          <li><a href="#/mods">Mods</a></li>
          <li><a href="#/users">Users</a></li>
          <li><a href="#/comments">Comments</a></li>
        </ul>
      </section>
      <section>
        <span class="section-title">
          Browse Contributions
        </span>
        <ul>
          <li><a href="#/reviews">Reviews</a></li>
          <li><a href="#/compatibility_notes">Compatibility Notes</a></li>
          <li><a href="#/load_order_notes">Load Order Notes</a></li>
          <li><a href="#/install_order_notes">Install Order Notes</a></li>
          <li><a href="#/incorrect_notes">Incorrect Notes</a></li>
        </ul>
      </section>
      <section>
        <span class="section-title">
          Mod Picker
        </span>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </section>
      <section>
        <span class="section-title">
          Social Media
        </span>
        <ul>
          <li><a href="https://twitter.com/Mod_Picker">Twitter</a></li>
          <li><a href="https://www.youtube.com/channel/UCWqJeb-T5-k-AnWZTF_0ZAw">YouTube</a></li>
          <li><a href="https://www.facebook.com/modpicker">Facebook</a></li>
        </ul>
      </section>
    </div>
  </div>
</footer>

<!-- defered load of scripts, which is way more performant for browsers -->
<%= javascript_include_tag 'angular.min.1.5.1' %>
<%= javascript_include_tag 'angular-route.min.1.5.1' %>
<%= javascript_include_tag 'heartcode-canvasloader-min' %>
<%= javascript_include_tag 'rzslider.min' %>
<%= javascript_include_tag 'modpicker' %>
<%= javascript_include_tag 'angular-animate.min' %>
<%= javascript_include_tag 'zip' %>
<%= javascript_include_tag 'rar' %>
</body>
</html>