<!DOCTYPE html>
<html lang="en" ng-app="modPicker" class="box-html">
<head>
  <meta charset="UTF-8">
  <title>Mod Picker</title>
  <% if current_user.nil? %>
    <% current_theme = 'Whiterun' %>
  <% else %>
    <% current_theme = current_user.settings.theme %>
  <% end %>
  <%= stylesheet_link_tag current_theme %>
  <script>
    window._token = '<%= form_authenticity_token %>';
    window._current_theme = '<%= current_theme %>';
    window._stylesheets = {
      whiterun: "<%= stylesheet_path 'Whiterun' %>",
      darkwater: "<%= stylesheet_path 'Darkwater' %>",
      blackreach: "<%= stylesheet_path 'Blackreach' %>",
      high_hrothgar: "<%= stylesheet_path 'High Hrothgar' %>"
    }
  </script>
</head>
<body>

<div class="box-container">
  <div class="box">
    <%= yield %>
  </div>
</div>

</body>
</html>