<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mod Picker</title>
  <!-- Rails -->
  <%= csrf_meta_tags %>
  <!--Core CSS -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "animate" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <!-- Custom styles for this template -->
  <%= stylesheet_link_tag "temp/welcome" %>
  <%= stylesheet_link_tag "style-responsive" %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<%= yield %>

<!--Core js-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<%= javascript_include_tag "bootstrap.min" %>
<%= javascript_include_tag "jquery.smooth-scroll" %>
<%= javascript_include_tag "wow.min" %>
<%= javascript_include_tag "jquery.nicescroll.min" %>
<%= javascript_include_tag "jquery.countdown.min" %>
<!--common script init for all pages-->
<%= javascript_include_tag "script" %>
<script>
  /* ==============================================
   Ajax Submiting For Email Subscriber Form.
   =====================================================================*/
  $("#subscriber_form").submit(function(e) {
    $('#show_subscriber_msg').html('<div class=gen>Submiting...</div>');
    var email = $('#subscriberemail').val();
    var data = {
      contact: {
        name: 'Anonymous',
        email: email,
        message: 'Subscribe me!'
      }
    };
    $.ajax({
      url : '/contacts',
      type: "POST",
      contentType: 'application/json',
      data : JSON.stringify(data),

      success: function (res) {
        if (res=='1') {
          $('#show_subscriber_msg').html('<div class=gen>Thanks, we will keep you posted!</div>');
        } else {
          $('#show_subscriber_msg').html('<div class=err>Oops, something went wrong. :S</div>');
        }
      },
      error: function() {
        $('#show_subscriber_msg').html('<div class=err>Oops, something went wrong. :S</div>');
      }
    });
    e.preventDefault();    //STOP default action
  });
  /* ==============================================
   Ajax Submiting For Email Contact Form.
   =====================================================================*/
  $("#contact_form").submit(function(e) {
    $('#show_contact_msg').html('<div class=gen>Submiting...</div>');

    var username = $('#contact_name').val();
    var email = $('#contact_email').val();
    var message = $('#contact_text').val();
    var data = {
      contact: {
        name: username,
        email: email,
        message: message
      }
    };
    $.ajax({
      url : '/contacts',
      type: "POST",
      contentType: 'application/json',
      data: JSON.stringify(data),
      success: function (res) {
        if (res=='1') {
          $('#show_contact_msg').html('<div class=gen>Thank you for your feedback!</div>');
        } else {
          $('#show_contact_msg').html('<div class=err>Oops, something went wrong. :S</div>');
        }
      },
      error: function() {
        $('#show_contact_msg').html('<div class=err>Oops, something went wrong. :S</div>');
      }
    });
    e.preventDefault();    //STOP default action
  });
</script>
</body>
</html>