<%= form_for(@compatibility_note) do |f| %>
  <% if @compatibility_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compatibility_note.errors.count, "error") %> prohibited this compatibility_note from being saved:</h2>

      <ul>
      <% @compatibility_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :submitted_by %><br>
    <%= f.number_field :submitted_by %>
  </div>
  <div class="field">
    <%= f.label :mod_mode %><br>
    <%= f.number_field :mod_mode %>
  </div>
  <div class="field">
    <%= f.label :compatibility_patch %><br>
    <%= f.number_field :compatibility_patch %>
  </div>
  <div class="field">
    <%= f.label :compatibility_status %><br>
    <%= f.number_field :compatibility_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>