<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>cn_id:</strong>
    <%= @compatibility_note.cn_id %>
  </p>

    <p>
    <strong>submitted_by:</strong>
    <%= @compatibility_note.submitted_by %>
  </p>

    <p>
    <strong>mod_mode:</strong>
    <%= @compatibility_note.mod_mode %>
  </p>

    <p>
    <strong>compatibility_patch:</strong>
    <%= @compatibility_note.compatibility_patch %>
  </p>

    <p>
    <strong>compatibility_status:</strong>
    <%= @compatibility_note.compatibility_status %>
  </p>

    <%= link_to 'Edit', edit_compatibility_note_path(@compatibility_note) %> |
  <%= link_to 'Back', compatibility_notes_path %>
</div>