<p id="notice"><%= notice %></p>

<h1>Listing Mod List Installation Notes</h1>

<table>
  <thead>
    <tr>
      <th>Ml</th>
      <th>In</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mod_list_installation_notes.each do |mod_list_installation_note| %>
      <tr>
        <td><%= mod_list_installation_note.ml_id %></td>
        <td><%= mod_list_installation_note.in_id %></td>
        <td><%= mod_list_installation_note.status %></td>
        <td><%= link_to 'Show', mod_list_installation_note %></td>
        <td><%= link_to 'Edit', edit_mod_list_installation_note_path(mod_list_installation_note) %></td>
        <td><%= link_to 'Destroy', mod_list_installation_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mod list installation note', new_mod_list_installation_note_path %>
