<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>mod_list_id:</strong>
    <%= @mod_list_installation_note.mod_list_id %>
  </p>

    <p>
    <strong>installation_note_id:</strong>
    <%= @mod_list_installation_note.installation_note_id %>
  </p>

    <p>
    <strong>status:</strong>
    <%= @mod_list_installation_note.status %>
  </p>

    <%= link_to 'Edit', edit_mod_list_installation_note_path(@mod_list_installation_note) %> |
  <%= link_to 'Back', mod_list_installation_notes_path %>
</div>