<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007d02030>:</strong>
    <%= @mod_list_installation_note.ml_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007d01c48>:</strong>
    <%= @mod_list_installation_note.in_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007d019c8>:</strong>
    <%= @mod_list_installation_note.status %>
  </p>

    <%= link_to 'Edit', edit_mod_list_installation_note_path(@mod_list_installation_note) %> |
  <%= link_to 'Back', mod_list_installation_notes_path %>
</div>