<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>mod_list_plugins</h1>

  <table>
    <thead>
      <tr>
          <th>ml_id</th>
          <th>pl_id</th>
          <th>active</th>
          <th>load_order</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @mod_list_plugins.each do |mod_list_plugin| %>
        <tr>
            <td><%= mod_list_plugin.ml_id %></td>
            <td><%= mod_list_plugin.pl_id %></td>
            <td><%= mod_list_plugin.active %></td>
            <td><%= mod_list_plugin.load_order %></td>
            <td><%= link_to 'Show', mod_list_plugin %></td>
          <td><%= link_to 'Edit', edit_mod_list_plugin_path(mod_list_plugin) %></td>
          <td><%= link_to 'Destroy', mod_list_plugin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Mod List Plugin', new_mod_list_plugin_path %>
</div>