<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>ml_id:</strong>
    <%= @mod_list_plugin.ml_id %>
  </p>

    <p>
    <strong>pl_id:</strong>
    <%= @mod_list_plugin.pl_id %>
  </p>

    <p>
    <strong>active:</strong>
    <%= @mod_list_plugin.active %>
  </p>

    <p>
    <strong>load_order:</strong>
    <%= @mod_list_plugin.load_order %>
  </p>

    <%= link_to 'Edit', edit_mod_list_plugin_path(@mod_list_plugin) %> |
  <%= link_to 'Back', mod_list_plugins_path %>
</div>