<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007c36b60>:</strong>
    <%= @mod_list_plugin.ml_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007c36868>:</strong>
    <%= @mod_list_plugin.pl_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007c363e0>:</strong>
    <%= @mod_list_plugin.active %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007c35e40>:</strong>
    <%= @mod_list_plugin.load_order %>
  </p>

    <%= link_to 'Edit', edit_mod_list_plugin_path(@mod_list_plugin) %> |
  <%= link_to 'Back', mod_list_plugins_path %>
</div>