<%= form_for(@override_record) do |f| %>
  <% if @override_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@override_record.errors.count, "error") %> prohibited this override_record from being saved:</h2>

      <ul>
      <% @override_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plugin_id %><br>
    <%= f.number_field :plugin_id %>
  </div>
  <div class="field">
    <%= f.label :master_id %><br>
    <%= f.number_field :master_id %>
  </div>
  <div class="field">
    <%= f.label :form_id %><br>
    <%= f.number_field :form_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>