<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>plugin_id:</strong>
    <%= @override_record.plugin_id %>
  </p>

    <p>
    <strong>master_id:</strong>
    <%= @override_record.master_id %>
  </p>

    <p>
    <strong>form_id:</strong>
    <%= @override_record.form_id %>
  </p>

    <%= link_to 'Edit', edit_override_record_path(@override_record) %> |
  <%= link_to 'Back', override_records_path %>
</div>