<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>helpful_marks</h1>

  <table>
    <thead>
      <tr>
          <th>review_id</th>
          <th>compatibility_note_id</th>
          <th>installation_note_id</th>
          <th>submitted_by</th>
          <th>helpful</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @helpful_marks.each do |helpful_mark| %>
        <tr>
            <td><%= helpful_mark.review_id %></td>
            <td><%= helpful_mark.compatibility_note_id %></td>
            <td><%= helpful_mark.installation_note_id %></td>
            <td><%= helpful_mark.submitted_by %></td>
            <td><%= helpful_mark.helpful %></td>
            <td><%= link_to 'Show', helpful_mark %></td>
          <td><%= link_to 'Edit', edit_helpful_mark_path(helpful_mark) %></td>
          <td><%= link_to 'Destroy', helpful_mark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Helpful Mark', new_helpful_mark_path %>
</div>