<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>helpful_marks</h1>

  <table>
    <thead>
      <tr>
        <th>submitted_by</th>
        <th>helpful</th>
        <th>helpfulable_id</th>
        <th>helpfulable_type</th>
      </tr>
    </thead>

    <tbody>
      <% @helpful_marks.each do |helpful_mark| %>
        <tr>
            <td><%= helpful_mark.submitted_by %></td>
            <td><%= helpful_mark.helpful %></td>
            <td><%= helpful_mark.helpfulable_id %></td>
            <td><%= helpful_mark.helpfulable_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Helpful Mark', new_helpful_mark_path %>
</div>