<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007dae7b8>:</strong>
    <%= @helpful_mark.r_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007dae538>:</strong>
    <%= @helpful_mark.cn_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007dae240>:</strong>
    <%= @helpful_mark.in_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007dae088>:</strong>
    <%= @helpful_mark.submitted_by %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007dadca0>:</strong>
    <%= @helpful_mark.helpful %>
  </p>

    <%= link_to 'Edit', edit_helpful_mark_path(@helpful_mark) %> |
  <%= link_to 'Back', helpful_marks_path %>
</div>