<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>r_id:</strong>
    <%= @helpful_mark.r_id %>
  </p>

    <p>
    <strong>cn_id:</strong>
    <%= @helpful_mark.cn_id %>
  </p>

    <p>
    <strong>in_id:</strong>
    <%= @helpful_mark.in_id %>
  </p>

    <p>
    <strong>submitted_by:</strong>
    <%= @helpful_mark.submitted_by %>
  </p>

    <p>
    <strong>helpful:</strong>
    <%= @helpful_mark.helpful %>
  </p>

    <%= link_to 'Edit', edit_helpful_mark_path(@helpful_mark) %> |
  <%= link_to 'Back', helpful_marks_path %>
</div>