<p id="notice"><%= notice %></p>

<p>
  <strong>R:</strong>
  <%= @helpful_mark.r_id %>
</p>

<p>
  <strong>Cn:</strong>
  <%= @helpful_mark.cn_id %>
</p>

<p>
  <strong>In:</strong>
  <%= @helpful_mark.in_id %>
</p>

<p>
  <strong>Submitted by:</strong>
  <%= @helpful_mark.submitted_by %>
</p>

<p>
  <strong>Helpful:</strong>
  <%= @helpful_mark.helpful %>
</p>

<%= link_to 'Edit', edit_helpful_mark_path(@helpful_mark) %> |
<%= link_to 'Back', helpful_marks_path %>
