<%= form_for(@agreement_mark) do |f| %>
  <% if @agreement_mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agreement_mark.errors.count, "error") %> prohibited this agreement_mark from being saved:</h2>

      <ul>
      <% @agreement_mark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :inc_id %><br>
    <%= f.number_field :inc_id %>
  </div>
  <div class="field">
    <%= f.label :submitted_by %><br>
    <%= f.number_field :submitted_by %>
  </div>
  <div class="field">
    <%= f.label :agree %><br>
    <%= f.check_box :agree %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>