<p id="notice"><%= notice %></p>

<h1>Listing Agreement Marks</h1>

<table>
  <thead>
    <tr>
      <th>Inc</th>
      <th>Submitted by</th>
      <th>Agree</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agreement_marks.each do |agreement_mark| %>
      <tr>
        <td><%= agreement_mark.inc_id %></td>
        <td><%= agreement_mark.submitted_by %></td>
        <td><%= agreement_mark.agree %></td>
        <td><%= link_to 'Show', agreement_mark %></td>
        <td><%= link_to 'Edit', edit_agreement_mark_path(agreement_mark) %></td>
        <td><%= link_to 'Destroy', agreement_mark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agreement mark', new_agreement_mark_path %>
