<div class="box-heading">
    <%= t 'devise.invitations.edit.header' %>
</div>

<div class="box-content">
    <%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :invitation_token %>

        <div class="padded-field">
            <%= f.label :username %><br/>
            <%= f.text_field :username %>
        </div>

        <div class="padded-field">
            <%= f.label :password %><br/>
            <%= f.password_field :password %>
        </div>

        <div class="padded-field">
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation %>
        </div>

        <div class="padded-field text-center big-margin">
            <%= f.submit t("devise.invitations.edit.submit_button") %>
        </div>
    <% end %>
</div>