<p id="notice"><%= notice %></p>

<h1>Listing User Settings</h1>

<table>
  <thead>
    <tr>
      <th>Set</th>
      <th>Show notifications</th>
      <th>Show tooltips</th>
      <th>Email notifications</th>
      <th>Email public</th>
      <th>Allow adult content</th>
      <th>Allow nexus mods</th>
      <th>Allow lovers lab</th>
      <th>Allow steam workshop</th>
      <th>Primary</th>
      <th>Key(set id)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_settings.each do |user_setting| %>
      <tr>
        <td><%= user_setting.set_id %></td>
        <td><%= user_setting.show_notifications %></td>
        <td><%= user_setting.show_tooltips %></td>
        <td><%= user_setting.email_notifications %></td>
        <td><%= user_setting.email_public %></td>
        <td><%= user_setting.allow_adult_content %></td>
        <td><%= user_setting.allow_nexus_mods %></td>
        <td><%= user_setting.allow_lovers_lab %></td>
        <td><%= user_setting.allow_steam_workshop %></td>
        <td><%= user_setting.PRIMARY %></td>
        <td><%= user_setting.KEY(set_id) %></td>
        <td><%= link_to 'Show', user_setting %></td>
        <td><%= link_to 'Edit', edit_user_setting_path(user_setting) %></td>
        <td><%= link_to 'Destroy', user_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User setting', new_user_setting_path %>
