<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>id:</strong>
    <%= @user_setting.id %>
  </p>

    <p>
    <strong>user_id:</strong>
    <%= @user_setting.user_id %>
  </p>

    <p>
    <strong>show_notifications:</strong>
    <%= @user_setting.show_notifications %>
  </p>

    <p>
    <strong>show_tooltips:</strong>
    <%= @user_setting.show_tooltips %>
  </p>

    <p>
    <strong>email_notifications:</strong>
    <%= @user_setting.email_notifications %>
  </p>

    <p>
    <strong>email_public:</strong>
    <%= @user_setting.email_public %>
  </p>

    <p>
    <strong>allow_adult_content:</strong>
    <%= @user_setting.allow_adult_content %>
  </p>

    <p>
    <strong>allow_nexus_mods:</strong>
    <%= @user_setting.allow_nexus_mods %>
  </p>

    <p>
    <strong>allow_lovers_lab:</strong>
    <%= @user_setting.allow_lovers_lab %>
  </p>

    <p>
    <strong>allow_steam_workshop:</strong>
    <%= @user_setting.allow_steam_workshop %>
  </p>

    <p>
    <strong>timezone:</strong>
    <%= @user_setting.timezone %>
  </p>

    <p>
    <strong>udate_format:</strong>
    <%= @user_setting.udate_format %>
  </p>

    <p>
    <strong>utime_format:</strong>
    <%= @user_setting.utime_format %>
  </p>

    <%= link_to 'Edit', edit_user_setting_path(@user_setting) %> |
  <%= link_to 'Back', user_settings_path %>
</div>