<% if @help_page.errors.any? %>
<ul>
    <% @help_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @help_page, html: { class: "help-page-form" } do |f| %>
    <h3 class="section-title">Title</h3>
    <section>
        <%= f.text_field :title %>
    </section>

    <h3 class="section-title">Category</h3>
    <section>
        <%= f.select :category, options_for_select(HelpPage.categories.map { |k, v| [k.humanize.titleize, k] }, f.object.category) %>
    </section>

    <h3 class="section-title">Game</h3>
    <section>
        <%= f.select :game_id, options_for_select(Game.all.map { |k, v| [k.display_name, k.id] }, f.object.game_id), include_blank: "None" %>
    </section>

    <h3 class="section-title">YouTube ID</h3>
    <section>
        <%= f.text_field :youtube_id %>
    </section>

    <h3 class="section-title">Sections</h3>
    <section class="help-video-sections" ng-controller="helpVideoSectionsController" ng-init="sections = <%= @help_page.sections.to_json %>">
        <div class="dynamic-block" ng-repeat="section in sections" ng-hide="section._destroy">
            <span class="remove-item" ng-click="removeSection(section)">
                <i class="fa fa-times"></i>
                <input class="hidden" type="checkbox" ng-model="section._destroy" name="help_page[sections_attributes][{{$index}}][_destroy]"/>
            </span>
            <input class="hidden" type="number" ng-model="section.id" name="help_page[sections_attributes][{{$index}}][id]" ng-if="section.id"/>
            <label class="subsection">
                <span class="input-label">Label</span>
                <input type="text" ng-model="section.label" name="help_page[sections_attributes][{{$index}}][label]"/>
            </label>
            <label class="subsection">
                <span class="input-label text-area-label">Description</span>
                <textarea class="mini-text-area" ng-model="section.description" name="help_page[sections_attributes][{{$index}}][description]"></textarea>
            </label>
            <label class="subsection">
                <span class="input-label">Seconds</span>
                <input type="number" ng-model="section.seconds" name="help_page[sections_attributes][{{$index}}][seconds]"/>
            </label>
        </div>
        <input type="button" class="btn" value="Add Section" ng-click="addSection()">
    </section>

    <h3 class="section-title">Approved</h3>
    <section>
        <label>
            <%= f.check_box :approved %> Approved
        </label>
    </section>

    <h3 class="section-title">Text Body</h3>
    <section>
        <text-area field="help_page[text_body]"
                   data="'<%= h j @help_page.text_body %>'"></text-area>
    </section>

    <div class="action-button-container">
        <%= f.submit "Submit", class: "btn action-btn" %>
    </div>
<% end %>