<% if @help_page.errors.any? %>
<ul>
    <% @help_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @help_page, html: { class: "help-page-form" } do |f| %>
    <h3 class="section-title">Title</h3>
    <section>
        <%= f.text_field :name %>
    </section>

    <h3 class="section-title">Category</h3>
    <section>
        <%= f.select :category, options_for_select(HelpPage.categories.map { |k, v| [k.humanize, k] }), class: "capitalize" %>
    </section>

    <h3 class="section-title">Game</h3>
    <section>
        <%= f.select :game_id, options_for_select(Game.all.map { |k, v| [k.display_name, k.id] }), include_blank: "None" %>
    </section>

    <h3 class="section-title">Text Body</h3>
    <section>
        <%= f.text_area :text_body, size: "60x12" %>
    </section>

    <div class="action-button-container">
        <%= f.submit "Submit", class: "btn action-btn" %>
    </div>
<% end %>