<% if @help_page.errors.any? %>
<ul>
    <% @help_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @help_page, html: { class: "help-page-form" } do |f| %>
    <h3 class="section-title">Title</h3>
    <section>
        <%= f.text_field :title %>
    </section>

    <h3 class="section-title">Category</h3>
    <section>
        <%= f.select :category, options_for_select(HelpPage.categories.map { |k, v| [k.humanize.titleize, k] }, f.object.category) %>
    </section>

    <h3 class="section-title">Game</h3>
    <section>
        <%= f.select :game_id, options_for_select(Game.all.map { |k, v| [k.display_name, k.id] }, f.object.game_id), include_blank: "None" %>
    </section>

    <h3 class="section-title">Text Body</h3>
    <section>
        <text-area field="help_page[text_body]"
                   data="'<%= h j @help_page.text_body %>'"></text-area>
    </section>

    <div class="action-button-container">
        <%= f.submit "Submit", class: "btn action-btn" %>
    </div>
<% end %>