<div class="category-page">
  <h1><%= @category.humanize %></h1>
  <ul class="pages-list">
    <% @help_pages.each do |page| %>
       <li>
        <%= link_to "/help/#{page.id}", method: :get do %>
          <h2><%= page.name %></h2>
        <% end %>
        <span><%= page.category %></span>
        <span><%= page.game.display_name %></span>
      </li>
    <% end %>
  </ul>
</div>