<% content_for :head do %>
    <title>Mod Picker: Help Center</title>
<% end %>

<div class="landing-page-container">
    <div class="landing-header">
        <h1 class="no-margin">Explore our Help Center</h1>
        <h3 class="no-margin thin">All the resources you need to get a Mod List up and running</h3>
    </div>

    <div class="primary-category-container category-container clearfix">
        <ul class="primary-categories-list categories-list">
            <% @categories.each do |category| %>
            <li class="primary-page page">
                <div class="primary-page-content page-content">
                    <%= link_to "/help/category/#{category}" do %>
                    <%= image_tag("#{category}.png") %>
                    <% end %>
                    <h3 class="capitalize">
                        <%= link_to "#{category.humanize}", "/help/category/#{category}" %>
                    </h3>
                </div>
            </li>
            <% end %>
        </ul>
    </div>

    <hr style="max-width: 1220px;">

    <div class="games-category-container category-container clearfix">
        <div class="games-category-header">
            <h3 class="no-margin strong">Games</h3>
            <h4 class="no-margin thin">Articles related to the games you're interested in modding</h4>
        </div>

        <ul class="games-category-list categories-list">
            <% @games.each do |game| %>
            <% if game.help_pages_count > 0 %>
            <% game_link = game.url_name %>
            <li class="game-page page">
                <div class="game-page-content page-content">
                    <%= link_to "/help/game/#{game_link}" do %>
                    <%= image_tag "#{game.display_image}", alt: "#{game.display_name} image" %>
                    <% end %>
                    <h3 class="capitalize">
                        <%= link_to "help/game/#{game_link}", "#{game.display_name}" %>
                    </h3>
                </div>
            </li>
            <% end %>
            <% end %>
        </ul>
    </div>
</div>
