<div class="help-page-content">
  <div class="help-page-header">
    <img class="header-img" src="<%= @help_page.banner %>" alt="">
    <h1 class="page-title"><%= @help_page.name %></h1>
    
    <span class="meta author" title="Author">
      <i class="fa fa-user" aria-hidden="true"></i>
      <%= link_to @help_page.submitter.username, user_path(@help_page.submitter) %>
    </span>

    <span class="meta game" title="Game">
      <i class="fa fa-gamepad" aria-hidden="true"></i>
      <%= @help_page.game.long_name %>
    </span>

    <br>
    
    <!-- date posted/edited conditional-->
    <div class="date">
      <span class="meta submit-date" title="<%= @help_page.submitted.strftime("%m/%d/%Y %I:%M:%S %z") %>">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      <%= @help_page.submitted.strftime("Posted on %b %e %Y") %>
      </span>

      <% if @help_page.edited %>
        <span class="meta edit-date" title="<%= @help_page.edited.strftime("%m/%d/%Y %I:%M:%S %z") %>">
          - <em><%= @help_page.edited.strftime("Edited on %b %e %Y") %></em>
        </span>
      <% end %>
    </div>
    <span class="meta category" title="Category">
      <i class="fa fa-folder" aria-hidden="true"></i>
      <%= @help_page.category %>
    </span>
  </div>
  <!-- enddate -->

  <!-- table of contents class = "help-page-toc" -->
  <%= markdown_toc(@help_page.text_body) %>

  <br>

  <!-- help page body content -->
  <div class="help-page-body">
    <%= markdown(@help_page.text_body) %>
  </div>

  <!-- footer -->
  <div class="help-page-footer">
    <span class="meta author" title="Author">
      <i class="fa fa-user" aria-hidden="true"></i>
      <%= link_to @help_page.submitter.username, user_path(@help_page.submitter) %>
    </span>

    <div class="date">
      <span class="meta submit-date" title="<%= @help_page.submitted.strftime("%m/%d/%Y %I:%M:%S %z") %>">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      <%= @help_page.submitted.strftime("Posted on %b %e %Y") %>
      </span>

      <% if @help_page.edited %>
        <span class="meta edit-date" title="<%= @help_page.edited.strftime("%m/%d/%Y %I:%M:%S %z") %>">
          - <em><%= @help_page.edited.strftime("Edited on %b %e %Y") %></em>
        </span>
      <% end %>
    </div>
  </div>
  <!-- endfooter -->
</div>
 
  