<div class="help-page-content">
  <div class="help-page-header">
    <img class="header-img" src="<%= @help_page.banner %>" alt="">
    <h1 class="page-title"><%= @help_page.name %></h1>
    
    <span class="meta author" title="Author">
      <i class="fa fa-user" aria-hidden="true"></i>
      <%= link_to @help_page.submitter.username, user_path(@help_page.submitter) %>
    </span>

    <span class="meta game" title="Game">
      <i class="fa fa-gamepad" aria-hidden="true"></i>
      <%= @help_page.game.long_name %>
    </span>

    <br>
    
    <!-- date posted/edited conditional-->
    <div class="date">
      <span class="meta submit-date" title="<%= @help_page.submitted.strftime("%m/%d/%Y %I:%M:%S %z") %>">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      <%= @help_page.submitted.strftime("Posted %b %e %Y") %>
      </span>

      <% if @help_page.edited %>
        <span class="meta edit-date" title="<%= @help_page.edited.strftime("%m/%d/%Y %I:%M:%S %z") %>">
          - <em><%= @help_page.edited.strftime("Edited %b %e %Y") %></em>
        </span>
      <% end %>
    </div>
    <span class="meta category" title="Category">
      <i class="fa fa-folder" aria-hidden="true"></i>
      <%= @help_page.category %>
    </span>
  </div>
  <!-- enddate -->

  <!-- table of contents class = "help-page-toc" -->
  <%= markdown_toc(@help_page.text_body) %>

  <br>

  <!-- help page body content -->
  <div class="help-page-body">
    <%= markdown(@help_page.text_body) %>
  </div>

  <!-- footer -->
  <div class="help-page-footer">
    <div class="footer-meta">
      <span class="meta author" title="Author">
        <i class="fa fa-user" aria-hidden="true"></i>
        <%= link_to @help_page.submitter.username, user_path(@help_page.submitter) %>
      </span>

      <div class="date">
        <span class="meta submit-date" title="<%= @help_page.submitted.strftime("%m/%d/%Y %I:%M:%S %z") %>">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <%= @help_page.submitted.strftime("Posted %b %e %Y") %>
        </span>

        <% if @help_page.edited %>
          <span class="meta edit-date" title="<%= @help_page.edited.strftime("%m/%d/%Y %I:%M:%S %z") %>">
            - <em><%= @help_page.edited.strftime("Edited %b %e %Y") %></em>
          </span>
        <% end %>
      </div>
    </div>

    <!--social media share section-->
    <div class="share-section">
    <!-- Sharingbutton Facebook -->
    <a class="share-link" href="https://facebook.com/sharer/sharer.php?u=<%=request.original_url%>"
    target="_blank" title="Share this page on Facebook">
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </a>

    <!-- Sharingbutton Twitter -->
    <a class="share-link" href="https://twitter.com/intent/tweet/?text=<%=@help_page.name + ' ' + request.original_url%>"
    target="_blank" title="Share this page on Twitter">
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </a>

    <!-- Sharingbutton Google+ -->
    <a class="share-link" href="https://plus.google.com/share?url=<%=request.original_url%>"
    target="_blank" title="Share this page on Google+">
      <i class="fa fa-google-plus-square" aria-hidden="true"></i> 
    </a>

    <!-- Sharingbutton E-Mail -->
    <a class="share-link" href="mailto:?subject=<%= @help_page.name%>&amp;body=<%=@help_page.name + ' ' + request.original_url%>"
    target="_blank" title="Share this page via E-Mail">
      <i class="fa fa-envelope-square" aria-hidden="true"></i>
    </a>

    <!-- Sharingbutton Reddit -->
    <a class="share-link" href="https://reddit.com/submit/?url=<%=request.original_url%>"
    target="_blank" title="Share this page on Reddit">
      <i class="fa fa-reddit-square" aria-hidden="true"></i>
    </a>
    </div>
  </div>
    <!-- endfooter -->
</div>
  