<div class="page-content">
   <h1><%= @help_page.name %></h1>
   <h3>Game: <%= @help_page.game.long_name %></h3>
   <h3>Category: <%= @help_page.category %></h3>
   <div class="date">
     <span class="submitted"><%= @help_page.submitted %></span>
     <span class="edited"><%= @help_page.edited %></span>
   </div>
   <div class="text-body">
     <%= @help_page.text_body %>
   </div>
</div>
 
  