<%= form_for(@plugin_record_group) do |f| %>
  <% if @plugin_record_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plugin_record_group.errors.count, "error") %> prohibited this plugin_record_group from being saved:</h2>

      <ul>
      <% @plugin_record_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plugin_id %><br>
    <%= f.number_field :plugin_id %>
  </div>
  <div class="field">
    <%= f.label :sig %><br>
    <%= f.text_field :sig %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :new_records %><br>
    <%= f.number_field :new_records %>
  </div>
  <div class="field">
    <%= f.label :override_records %><br>
    <%= f.number_field :override_records %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>