<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>plugin_record_groups</h1>

  <table>
    <thead>
      <tr>
          <th>pl_id</th>
          <th>sig</th>
          <th>name</th>
          <th>new_records</th>
          <th>override_records</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @plugin_record_groups.each do |plugin_record_group| %>
        <tr>
            <td><%= plugin_record_group.pl_id %></td>
            <td><%= plugin_record_group.sig %></td>
            <td><%= plugin_record_group.name %></td>
            <td><%= plugin_record_group.new_records %></td>
            <td><%= plugin_record_group.override_records %></td>
            <td><%= link_to 'Show', plugin_record_group %></td>
          <td><%= link_to 'Edit', edit_plugin_record_group_path(plugin_record_group) %></td>
          <td><%= link_to 'Destroy', plugin_record_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Plugin Record Group', new_plugin_record_group_path %>
</div>