<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>plugin_id:</strong>
    <%= @plugin_record_group.plugin_id %>
  </p>

    <p>
    <strong>sig:</strong>
    <%= @plugin_record_group.sig %>
  </p>

    <p>
    <strong>name:</strong>
    <%= @plugin_record_group.name %>
  </p>

    <p>
    <strong>new_records:</strong>
    <%= @plugin_record_group.new_records %>
  </p>

    <p>
    <strong>override_records:</strong>
    <%= @plugin_record_group.override_records %>
  </p>

    <%= link_to 'Edit', edit_plugin_record_group_path(@plugin_record_group) %> |
  <%= link_to 'Back', plugin_record_groups_path %>
</div>