<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007b09378>:</strong>
    <%= @plugin_record_group.pl_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007b09080>:</strong>
    <%= @plugin_record_group.sig %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007b08b58>:</strong>
    <%= @plugin_record_group.name %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007b088b0>:</strong>
    <%= @plugin_record_group.new_records %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007b084f0>:</strong>
    <%= @plugin_record_group.override_records %>
  </p>

    <%= link_to 'Edit', edit_plugin_record_group_path(@plugin_record_group) %> |
  <%= link_to 'Back', plugin_record_groups_path %>
</div>