<div class="box-heading">
    Register
</div>

<div class="box-content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="padded-field">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="padded-field">
            <%= f.label :username %><br/>
            <%= f.text_field :username %>
        </div>

        <div class="padded-field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="padded-field">
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="padded-field">
            <%= f.label :agree do %>
                <%= f.check_box :agree %>
                I agree to the <a href="/legal/tos" target="_blank">Terms of Service</a> and
                <a href="/legal/privacy" target="_blank">Privacy Policy</a>
            <% end %>
        </div>

        <div class="padded-field text-center big-margin">
            <%= f.submit "Register" %>
        </div>
    <% end %>
</div>