<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>plugins</h1>

  <table>
    <thead>
      <tr>
          <th>pl_id</th>
          <th>mv_id</th>
          <th>filename</th>
          <th>author</th>
          <th>description</th>
          <th>hash</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @plugins.each do |plugin| %>
        <tr>
            <td><%= plugin.pl_id %></td>
            <td><%= plugin.mv_id %></td>
            <td><%= plugin.filename %></td>
            <td><%= plugin.author %></td>
            <td><%= plugin.description %></td>
            <td><%= plugin.hash %></td>
            <td><%= link_to 'Show', plugin %></td>
          <td><%= link_to 'Edit', edit_plugin_path(plugin) %></td>
          <td><%= link_to 'Destroy', plugin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Plugin', new_plugin_path %>
</div>