<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>pl_id:</strong>
    <%= @plugin.pl_id %>
  </p>

    <p>
    <strong>mv_id:</strong>
    <%= @plugin.mv_id %>
  </p>

    <p>
    <strong>filename:</strong>
    <%= @plugin.filename %>
  </p>

    <p>
    <strong>author:</strong>
    <%= @plugin.author %>
  </p>

    <p>
    <strong>description:</strong>
    <%= @plugin.description %>
  </p>

    <p>
    <strong>hash:</strong>
    <%= @plugin.hash %>
  </p>

    <%= link_to 'Edit', edit_plugin_path(@plugin) %> |
  <%= link_to 'Back', plugins_path %>
</div>