<%= form_for(@mod_list_compatibility_note) do |f| %>
  <% if @mod_list_compatibility_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mod_list_compatibility_note.errors.count, "error") %> prohibited this mod_list_compatibility_note from being saved:</h2>

      <ul>
      <% @mod_list_compatibility_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ml_id %><br>
    <%= f.number_field :ml_id %>
  </div>
  <div class="field">
    <%= f.label :cn_id %><br>
    <%= f.number_field :cn_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>