<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>mod_list_id:</strong>
    <%= @mod_list_compatibility_note.mod_list_id %>
  </p>

    <p>
    <strong>compatibility_note_id:</strong>
    <%= @mod_list_compatibility_note.compatibility_note_id %>
  </p>

    <p>
    <strong>status:</strong>
    <%= @mod_list_compatibility_note.status %>
  </p>

    <%= link_to 'Edit', edit_mod_list_compatibility_note_path(@mod_list_compatibility_note) %> |
  <%= link_to 'Back', mod_list_compatibility_notes_path %>
</div>