<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :parent_comment %><br>
    <%= f.number_field :parent_comment %>
  </div>
  <div class="field">
    <%= f.label :submitted_by %><br>
    <%= f.number_field :submitted_by %>
  </div>
  <div class="field">
    <%= f.label :hidden %><br>
    <%= f.check_box :hidden %>
  </div>
  <div class="field">
    <%= f.label :submitted %><br>
    <%= f.datetime_select :submitted %>
  </div>
  <div class="field">
    <%= f.label :edited %><br>
    <%= f.datetime_select :edited %>
  </div>
  <div class="field">
    <%= f.label :text_body %><br>
    <%= f.text_area :text_body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>