<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>Listing comments</h1>

  <table>
    <thead>
      <tr>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007bc99c0></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007bc9718></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007bc93a8></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007bc87c8></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007bc82a0></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007bd0360></th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
            <td><%= comment.c_id %></td>
            <td><%= comment.parent_comment %></td>
            <td><%= comment.submitted_by %></td>
            <td><%= comment.hidden %></td>
            <td><%= comment.submitted %></td>
            <td><%= comment.edited %></td>
            <td><%= link_to 'Show', comment %></td>
          <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
          <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New comment', new_comment_path %>
</div>