<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>comments</h1>

  <table>
    <thead>
      <tr>
          <th>c_id</th>
          <th>parent_comment</th>
          <th>submitted_by</th>
          <th>hidden</th>
          <th>submitted</th>
          <th>edited</th>
          <th>text_body</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
            <td><%= comment.c_id %></td>
            <td><%= comment.parent_comment %></td>
            <td><%= comment.submitted_by %></td>
            <td><%= comment.hidden %></td>
            <td><%= comment.submitted %></td>
            <td><%= comment.edited %></td>
            <td><%= comment.text_body %></td>
            <td><%= link_to 'Show', comment %></td>
          <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
          <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Comment', new_comment_path %>
</div>