<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>id:</strong>
    <%= @comment.id %>
  </p>

    <p>
    <strong>parent_comment:</strong>
    <%= @comment.parent_comment %>
  </p>

    <p>
    <strong>submitted_by:</strong>
    <%= @comment.submitted_by %>
  </p>

    <p>
    <strong>hidden:</strong>
    <%= @comment.hidden %>
  </p>

    <p>
    <strong>submitted:</strong>
    <%= @comment.submitted %>
  </p>

    <p>
    <strong>edited:</strong>
    <%= @comment.edited %>
  </p>

    <p>
    <strong>text_body:</strong>
    <%= @comment.text_body %>
  </p>

    <%= link_to 'Edit', edit_comment_path(@comment) %> |
  <%= link_to 'Back', comments_path %>
</div>