<%= form_for(@nexus_info) do |f| %>
  <% if @nexus_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nexus_info.errors.count, "error") %> prohibited this nexus_info from being saved:</h2>

      <ul>
      <% @nexus_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :mod_id %><br>
    <%= f.number_field :mod_id %>
  </div>
  <div class="field">
    <%= f.label :uploaded_by %><br>
    <%= f.text_area :uploaded_by %>
  </div>
  <div class="field">
    <%= f.label :authors %><br>
    <%= f.text_area :authors %>
  </div>
  <div class="field">
    <%= f.label :endorsements %><br>
    <%= f.number_field :endorsements %>
  </div>
  <div class="field">
    <%= f.label :total_downloads %><br>
    <%= f.number_field :total_downloads %>
  </div>
  <div class="field">
    <%= f.label :unique_downloads %><br>
    <%= f.number_field :unique_downloads %>
  </div>
  <div class="field">
    <%= f.label :views %><br>
    <%= f.number_field :views %>
  </div>
  <div class="field">
    <%= f.label :posts_count %><br>
    <%= f.number_field :posts_count %>
  </div>
  <div class="field">
    <%= f.label :videos_count %><br>
    <%= f.number_field :videos_count %>
  </div>
  <div class="field">
    <%= f.label :images_count %><br>
    <%= f.number_field :images_count %>
  </div>
  <div class="field">
    <%= f.label :files_count %><br>
    <%= f.number_field :files_count %>
  </div>
  <div class="field">
    <%= f.label :articles_count %><br>
    <%= f.number_field :articles_count %>
  </div>
  <div class="field">
    <%= f.label :nexus_category %><br>
    <%= f.number_field :nexus_category %>
  </div>
  <div class="field">
    <%= f.label :changelog %><br>
    <%= f.text_area :changelog %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>