<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>Listing nexus_infos</h1>

  <table>
    <thead>
      <tr>
          <th>#<Rails::Generators::GeneratedAttribute:0x000000078297c0></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x000000078294c8></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007828fa0></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007828ac8></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007828578></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007828208></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007833e78></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007833c70></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x000000078334f0></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007832d70></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007832820></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007832500></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007832118></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007831c68></th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @nexus_infos.each do |nexus_info| %>
        <tr>
            <td><%= nexus_info.nm_id %></td>
            <td><%= nexus_info.uploaded_by %></td>
            <td><%= nexus_info.authors %></td>
            <td><%= nexus_info.endorsements %></td>
            <td><%= nexus_info.total_downloads %></td>
            <td><%= nexus_info.unique_downloads %></td>
            <td><%= nexus_info.views %></td>
            <td><%= nexus_info.posts_count %></td>
            <td><%= nexus_info.videos_count %></td>
            <td><%= nexus_info.images_count %></td>
            <td><%= nexus_info.files_count %></td>
            <td><%= nexus_info.articles_count %></td>
            <td><%= nexus_info.nexus_category %></td>
            <td><%= nexus_info.changelog %></td>
            <td><%= link_to 'Show', nexus_info %></td>
          <td><%= link_to 'Edit', edit_nexus_info_path(nexus_info) %></td>
          <td><%= link_to 'Destroy', nexus_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New nexus_info', new_nexus_info_path %>
</div>