<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>nexus_infos</h1>

  <table>
    <thead>
      <tr>
          <th>nm_id</th>
          <th>mod_id</th>
          <th>uploaded_by</th>
          <th>authors</th>
          <th>endorsements</th>
          <th>total_downloads</th>
          <th>unique_downloads</th>
          <th>views</th>
          <th>posts_count</th>
          <th>videos_count</th>
          <th>images_count</th>
          <th>files_count</th>
          <th>articles_count</th>
          <th>nexus_category</th>
          <th>changelog</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @nexus_infos.each do |nexus_info| %>
        <tr>
            <td><%= nexus_info.nm_id %></td>
            <td><%= nexus_info.mod_id %></td>
            <td><%= nexus_info.uploaded_by %></td>
            <td><%= nexus_info.authors %></td>
            <td><%= nexus_info.endorsements %></td>
            <td><%= nexus_info.total_downloads %></td>
            <td><%= nexus_info.unique_downloads %></td>
            <td><%= nexus_info.views %></td>
            <td><%= nexus_info.posts_count %></td>
            <td><%= nexus_info.videos_count %></td>
            <td><%= nexus_info.images_count %></td>
            <td><%= nexus_info.files_count %></td>
            <td><%= nexus_info.articles_count %></td>
            <td><%= nexus_info.nexus_category %></td>
            <td><%= nexus_info.changelog %></td>
            <td><%= link_to 'Show', nexus_info %></td>
          <td><%= link_to 'Edit', edit_nexus_info_path(nexus_info) %></td>
          <td><%= link_to 'Destroy', nexus_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Nexus Info', new_nexus_info_path %>
</div>