<p id="notice"><%= notice %></p>

<p>
  <strong>Nm:</strong>
  <%= @nexus_info.nm_id %>
</p>

<p>
  <strong>Uploaded by:</strong>
  <%= @nexus_info.uploaded_by %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @nexus_info.authors %>
</p>

<p>
  <strong>Endorsements:</strong>
  <%= @nexus_info.endorsements %>
</p>

<p>
  <strong>Total downloads:</strong>
  <%= @nexus_info.total_downloads %>
</p>

<p>
  <strong>Unique downloads:</strong>
  <%= @nexus_info.unique_downloads %>
</p>

<p>
  <strong>Views:</strong>
  <%= @nexus_info.views %>
</p>

<p>
  <strong>Posts count:</strong>
  <%= @nexus_info.posts_count %>
</p>

<p>
  <strong>Videos count:</strong>
  <%= @nexus_info.videos_count %>
</p>

<p>
  <strong>Images count:</strong>
  <%= @nexus_info.images_count %>
</p>

<p>
  <strong>Files count:</strong>
  <%= @nexus_info.files_count %>
</p>

<p>
  <strong>Articles count:</strong>
  <%= @nexus_info.articles_count %>
</p>

<p>
  <strong>Nexus category:</strong>
  <%= @nexus_info.nexus_category %>
</p>

<p>
  <strong>Changelog:</strong>
  <%= @nexus_info.changelog %>
</p>

<%= link_to 'Edit', edit_nexus_info_path(@nexus_info) %> |
<%= link_to 'Back', nexus_infos_path %>
