<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>id:</strong>
    <%= @nexus_info.id %>
  </p>

    <p>
    <strong>mod_id:</strong>
    <%= @nexus_info.mod_id %>
  </p>

    <p>
    <strong>uploaded_by:</strong>
    <%= @nexus_info.uploaded_by %>
  </p>

    <p>
    <strong>authors:</strong>
    <%= @nexus_info.authors %>
  </p>

    <p>
    <strong>endorsements:</strong>
    <%= @nexus_info.endorsements %>
  </p>

    <p>
    <strong>total_downloads:</strong>
    <%= @nexus_info.total_downloads %>
  </p>

    <p>
    <strong>unique_downloads:</strong>
    <%= @nexus_info.unique_downloads %>
  </p>

    <p>
    <strong>views:</strong>
    <%= @nexus_info.views %>
  </p>

    <p>
    <strong>posts_count:</strong>
    <%= @nexus_info.posts_count %>
  </p>

    <p>
    <strong>videos_count:</strong>
    <%= @nexus_info.videos_count %>
  </p>

    <p>
    <strong>images_count:</strong>
    <%= @nexus_info.images_count %>
  </p>

    <p>
    <strong>files_count:</strong>
    <%= @nexus_info.files_count %>
  </p>

    <p>
    <strong>articles_count:</strong>
    <%= @nexus_info.articles_count %>
  </p>

    <p>
    <strong>nexus_category:</strong>
    <%= @nexus_info.nexus_category %>
  </p>

    <p>
    <strong>changelog:</strong>
    <%= @nexus_info.changelog %>
  </p>

    <%= link_to 'Edit', edit_nexus_info_path(@nexus_info) %> |
  <%= link_to 'Back', nexus_infos_path %>
</div>