<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x000000078297c0>:</strong>
    <%= @nexus_info.nm_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x000000078294c8>:</strong>
    <%= @nexus_info.uploaded_by %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007828fa0>:</strong>
    <%= @nexus_info.authors %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007828ac8>:</strong>
    <%= @nexus_info.endorsements %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007828578>:</strong>
    <%= @nexus_info.total_downloads %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007828208>:</strong>
    <%= @nexus_info.unique_downloads %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007833e78>:</strong>
    <%= @nexus_info.views %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007833c70>:</strong>
    <%= @nexus_info.posts_count %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x000000078334f0>:</strong>
    <%= @nexus_info.videos_count %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007832d70>:</strong>
    <%= @nexus_info.images_count %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007832820>:</strong>
    <%= @nexus_info.files_count %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007832500>:</strong>
    <%= @nexus_info.articles_count %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007832118>:</strong>
    <%= @nexus_info.nexus_category %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007831c68>:</strong>
    <%= @nexus_info.changelog %>
  </p>

    <%= link_to 'Edit', edit_nexus_info_path(@nexus_info) %> |
  <%= link_to 'Back', nexus_infos_path %>
</div>