<%= form_for(@mod_star) do |f| %>
  <% if @mod_star.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mod_star.errors.count, "error") %> prohibited this mod_star from being saved:</h2>

      <ul>
      <% @mod_star.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mod_id %><br>
    <%= f.number_field :mod_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>