<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>id:</strong>
    <%= @user_reputation.id %>
  </p>

    <p>
    <strong>user_id:</strong>
    <%= @user_reputation.user_id %>
  </p>

    <p>
    <strong>overall:</strong>
    <%= @user_reputation.overall %>
  </p>

    <p>
    <strong>offset:</strong>
    <%= @user_reputation.offset %>
  </p>

    <p>
    <strong>audiovisual_design:</strong>
    <%= @user_reputation.audiovisual_design %>
  </p>

    <p>
    <strong>plugin_design:</strong>
    <%= @user_reputation.plugin_design %>
  </p>

    <p>
    <strong>utility_design:</strong>
    <%= @user_reputation.utility_design %>
  </p>

    <p>
    <strong>script_design:</strong>
    <%= @user_reputation.script_design %>
  </p>

    <%= link_to 'Edit', edit_user_reputation_path(@user_reputation) %> |
  <%= link_to 'Back', user_reputations_path %>
</div>