<p id="notice"><%= notice %></p>

<p>
  <strong>Rep:</strong>
  <%= @user_reputation.rep_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_reputation.user_id %>
</p>

<p>
  <strong>Overall:</strong>
  <%= @user_reputation.overall %>
</p>

<p>
  <strong>Offset:</strong>
  <%= @user_reputation.offset %>
</p>

<p>
  <strong>Audiovisual design:</strong>
  <%= @user_reputation.audiovisual_design %>
</p>

<p>
  <strong>Plugin design:</strong>
  <%= @user_reputation.plugin_design %>
</p>

<p>
  <strong>Utility design:</strong>
  <%= @user_reputation.utility_design %>
</p>

<p>
  <strong>Script design:</strong>
  <%= @user_reputation.script_design %>
</p>

<%= link_to 'Edit', edit_user_reputation_path(@user_reputation) %> |
<%= link_to 'Back', user_reputations_path %>
