<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>mod_list_custom_plugins</h1>

  <table>
    <thead>
      <tr>
          <th>mod_list_id</th>
          <th>active</th>
          <th>load_order</th>
          <th>title</th>
          <th>description</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @mod_list_custom_plugins.each do |mod_list_custom_plugin| %>
        <tr>
            <td><%= mod_list_custom_plugin.mod_list_id %></td>
            <td><%= mod_list_custom_plugin.active %></td>
            <td><%= mod_list_custom_plugin.load_order %></td>
            <td><%= mod_list_custom_plugin.title %></td>
            <td><%= mod_list_custom_plugin.description %></td>
            <td><%= link_to 'Show', mod_list_custom_plugin %></td>
          <td><%= link_to 'Edit', edit_mod_list_custom_plugin_path(mod_list_custom_plugin) %></td>
          <td><%= link_to 'Destroy', mod_list_custom_plugin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Mod List Custom Plugin', new_mod_list_custom_plugin_path %>
</div>