<p id="notice"><%= notice %></p>

<p>
  <strong>Ml:</strong>
  <%= @mod_list_custom_plugin.ml_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @mod_list_custom_plugin.active %>
</p>

<p>
  <strong>Load order:</strong>
  <%= @mod_list_custom_plugin.load_order %>
</p>

<p>
  <strong>Title:</strong>
  <%= @mod_list_custom_plugin.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mod_list_custom_plugin.description %>
</p>

<%= link_to 'Edit', edit_mod_list_custom_plugin_path(@mod_list_custom_plugin) %> |
<%= link_to 'Back', mod_list_custom_plugins_path %>
