<%= form_for(@mod_version) do |f| %>
  <% if @mod_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mod_version.errors.count, "error") %> prohibited this mod_version from being saved:</h2>

      <ul>
      <% @mod_version.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :mod_id %><br>
    <%= f.number_field :mod_id %>
  </div>
  <div class="field">
    <%= f.label :version %><br>
    <%= f.text_area :version %>
  </div>
  <div class="field">
    <%= f.label :released %><br>
    <%= f.datetime_select :released %>
  </div>
  <div class="field">
    <%= f.label :obsolete %><br>
    <%= f.check_box :obsolete %>
  </div>
  <div class="field">
    <%= f.label :dangerous %><br>
    <%= f.check_box :dangerous %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>