<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>mod_versions</h1>

  <table>
    <thead>
      <tr>
          <th>id</th>
          <th>mod_id</th>
          <th>nxm_file_id</th>
          <th>released</th>
          <th>obsolete</th>
          <th>dangerous</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @mod_versions.each do |mod_version| %>
        <tr>
            <td><%= mod_version.id %></td>
            <td><%= mod_version.mod_id %></td>
            <td><%= mod_version.nxm_file_id %></td>
            <td><%= mod_version.released %></td>
            <td><%= mod_version.obsolete %></td>
            <td><%= mod_version.dangerous %></td>
            <td><%= link_to 'Show', mod_version %></td>
          <td><%= link_to 'Edit', edit_mod_version_path(mod_version) %></td>
          <td><%= link_to 'Destroy', mod_version, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Mod Version', new_mod_version_path %>
</div>