<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>mod_authors</h1>

  <table>
    <thead>
      <tr>
          <th>mod_id</th>
          <th>user_id</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @mod_authors.each do |mod_author| %>
        <tr>
            <td><%= mod_author.mod_id %></td>
            <td><%= mod_author.user_id %></td>
            <td><%= link_to 'Show', mod_author %></td>
          <td><%= link_to 'Edit', edit_mod_author_path(mod_author) %></td>
          <td><%= link_to 'Destroy', mod_author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New User Mod Author Map', new_mod_author_path %>
</div>