<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>mod_id:</strong>
    <%= @mod_author.mod_id %>
  </p>

    <p>
    <strong>user_id:</strong>
    <%= @mod_author.user_id %>
  </p>

    <%= link_to 'Edit', edit_mod_author_path(@mod_author) %> |
  <%= link_to 'Back', mod_authors_path %>
</div>