<%= form_for(@mod_version_file) do |f| %>
  <% if @mod_version_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mod_version_file.errors.count, "error") %> prohibited this mod_version_file from being saved:</h2>

      <ul>
      <% @mod_version_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mod_version_id %><br>
    <%= f.number_field :mod_version_id %>
  </div>
  <div class="field">
    <%= f.label :mod_asset_file_id %><br>
    <%= f.number_field :mod_asset_file_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>