<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>id:</strong>
    <%= @user_bio.id %>
  </p>

    <p>
    <strong>user_id:</strong>
    <%= @user_bio.user_id %>
  </p>

    <p>
    <strong>nexus_username:</strong>
    <%= @user_bio.nexus_username %>
  </p>

    <p>
    <strong>nexus_verified:</strong>
    <%= @user_bio.nexus_verified %>
  </p>

    <p>
    <strong>lover_username:</strong>
    <%= @user_bio.lover_username %>
  </p>

    <p>
    <strong>lover_verified:</strong>
    <%= @user_bio.lover_verified %>
  </p>

    <p>
    <strong>steam_username:</strong>
    <%= @user_bio.steam_username %>
  </p>

    <p>
    <strong>steam_verified:</strong>
    <%= @user_bio.steam_verified %>
  </p>

    <%= link_to 'Edit', edit_user_bio_path(@user_bio) %> |
  <%= link_to 'Back', user_bios_path %>
</div>