<%= form_for(@plugin_override_map) do |f| %>
  <% if @plugin_override_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plugin_override_map.errors.count, "error") %> prohibited this plugin_override_map from being saved:</h2>

      <ul>
      <% @plugin_override_map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plugin_id %><br>
    <%= f.number_field :plugin_id %>
  </div>
  <div class="field">
    <%= f.label :master_id %><br>
    <%= f.number_field :master_id %>
  </div>
  <div class="field">
    <%= f.label :form_id %><br>
    <%= f.number_field :form_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>