<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>plugin_overrides</h1>

  <table>
    <thead>
      <tr>
          <th>plugin_id</th>
          <th>master_id</th>
          <th>form_id</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @plugin_overrides.each do |plugin_override| %>
        <tr>
            <td><%= plugin_override.plugin_id %></td>
            <td><%= plugin_override.master_id %></td>
            <td><%= plugin_override.form_id %></td>
            <td><%= link_to 'Show', plugin_override %></td>
          <td><%= link_to 'Edit', edit_plugin_override_path(plugin_override) %></td>
          <td><%= link_to 'Destroy', plugin_override, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Plugin Override Map', new_plugin_override_path %>
</div>