<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>plugin_override_maps</h1>

  <table>
    <thead>
      <tr>
          <th>pl_id</th>
          <th>mst_id</th>
          <th>form_id</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @plugin_override_maps.each do |plugin_override_map| %>
        <tr>
            <td><%= plugin_override_map.pl_id %></td>
            <td><%= plugin_override_map.mst_id %></td>
            <td><%= plugin_override_map.form_id %></td>
            <td><%= link_to 'Show', plugin_override_map %></td>
          <td><%= link_to 'Edit', edit_plugin_override_map_path(plugin_override_map) %></td>
          <td><%= link_to 'Destroy', plugin_override_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Plugin Override Map', new_plugin_override_map_path %>
</div>