<p id="notice"><%= notice %></p>

<p>
  <strong>Pl:</strong>
  <%= @plugin_override_map.pl_id %>
</p>

<p>
  <strong>Mst:</strong>
  <%= @plugin_override_map.mst_id %>
</p>

<p>
  <strong>Form:</strong>
  <%= @plugin_override_map.form_id %>
</p>

<p>
  <strong>Sig:</strong>
  <%= @plugin_override_map.sig %>
</p>

<p>
  <strong>Name:</strong>
  <%= @plugin_override_map.name %>
</p>

<p>
  <strong>Is itm:</strong>
  <%= @plugin_override_map.is_itm %>
</p>

<p>
  <strong>Is itpo:</strong>
  <%= @plugin_override_map.is_itpo %>
</p>

<p>
  <strong>Is udr:</strong>
  <%= @plugin_override_map.is_udr %>
</p>

<%= link_to 'Edit', edit_plugin_override_map_path(@plugin_override_map) %> |
<%= link_to 'Back', plugin_override_maps_path %>
