<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>pl_id:</strong>
    <%= @plugin_override_map.pl_id %>
  </p>

    <p>
    <strong>mst_id:</strong>
    <%= @plugin_override_map.mst_id %>
  </p>

    <p>
    <strong>form_id:</strong>
    <%= @plugin_override_map.form_id %>
  </p>

    <%= link_to 'Edit', edit_plugin_override_map_path(@plugin_override_map) %> |
  <%= link_to 'Back', plugin_override_maps_path %>
</div>