<%= form_for(@user_mod_list_star_map) do |f| %>
  <% if @user_mod_list_star_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_mod_list_star_map.errors.count, "error") %> prohibited this user_mod_list_star_map from being saved:</h2>

      <ul>
      <% @user_mod_list_star_map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ml_id %><br>
    <%= f.number_field :ml_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
