<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>ml_id:</strong>
    <%= @user_mod_list_star_map.ml_id %>
  </p>

    <p>
    <strong>user_id:</strong>
    <%= @user_mod_list_star_map.user_id %>
  </p>

    <%= link_to 'Edit', edit_user_mod_list_star_map_path(@user_mod_list_star_map) %> |
  <%= link_to 'Back', user_mod_list_star_maps_path %>
</div>