<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>id:</strong>
    <%= @game.id %>
  </p>

    <p>
    <strong>short_name:</strong>
    <%= @game.short_name %>
  </p>

    <p>
    <strong>long_name:</strong>
    <%= @game.long_name %>
  </p>

    <p>
    <strong>abbr_name:</strong>
    <%= @game.abbr_name %>
  </p>

    <p>
    <strong>exe_name:</strong>
    <%= @game.exe_name %>
  </p>

    <p>
    <strong>steam_app_ids:</strong>
    <%= @game.steam_app_ids %>
  </p>

    <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', games_path %>
</div>