<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :r_id %><br>
    <%= f.number_field :r_id %>
  </div>
  <div class="field">
    <%= f.label :submitted_by %><br>
    <%= f.number_field :submitted_by %>
  </div>
  <div class="field">
    <%= f.label :mod_id %><br>
    <%= f.number_field :mod_id %>
  </div>
  <div class="field">
    <%= f.label :hidden %><br>
    <%= f.check_box :hidden %>
  </div>
  <div class="field">
    <%= f.label :rating1 %><br>
    <%= f.text_field :rating1 %>
  </div>
  <div class="field">
    <%= f.label :TINYINT %><br>
    <%= f.text_field :TINYINT %>
  </div>
  <div class="field">
    <%= f.label :rating2 %><br>
    <%= f.text_field :rating2 %>
  </div>
  <div class="field">
    <%= f.label :TINYINT %><br>
    <%= f.text_field :TINYINT %>
  </div>
  <div class="field">
    <%= f.label :rating3 %><br>
    <%= f.text_field :rating3 %>
  </div>
  <div class="field">
    <%= f.label :TINYINT %><br>
    <%= f.text_field :TINYINT %>
  </div>
  <div class="field">
    <%= f.label :rating4 %><br>
    <%= f.text_field :rating4 %>
  </div>
  <div class="field">
    <%= f.label :TINYINT %><br>
    <%= f.text_field :TINYINT %>
  </div>
  <div class="field">
    <%= f.label :rating5 %><br>
    <%= f.text_field :rating5 %>
  </div>
  <div class="field">
    <%= f.label :TINYINT %><br>
    <%= f.text_field :TINYINT %>
  </div>
  <div class="field">
    <%= f.label :submitted %><br>
    <%= f.datetime_select :submitted %>
  </div>
  <div class="field">
    <%= f.label :edited %><br>
    <%= f.datetime_select :edited %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>