<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>reviews</h1>

  <table>
    <thead>
      <tr>
          <th>id</th>
          <th>submitted_by</th>
          <th>mod_id</th>
          <th>hidden</th>
          <th>rating1</th>
          <th>rating2</th>
          <th>rating3</th>
          <th>rating4</th>
          <th>rating5</th>
          <th>submitted</th>
          <th>edited</th>
          <th>text_body</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reviews.each do |review| %>
        <tr>
            <td><%= review.id %></td>
            <td><%= review.submitted_by %></td>
            <td><%= review.mod_id %></td>
            <td><%= review.hidden %></td>
            <td><%= review.rating1 %></td>
            <td><%= review.rating2 %></td>
            <td><%= review.rating3 %></td>
            <td><%= review.rating4 %></td>
            <td><%= review.rating5 %></td>
            <td><%= review.submitted %></td>
            <td><%= review.edited %></td>
            <td><%= review.text_body %></td>
            <td><%= link_to 'Show', review %></td>
          <td><%= link_to 'Edit', edit_review_path(review) %></td>
          <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Review', new_review_path %>
</div>