<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>Listing reviews</h1>

  <table>
    <thead>
      <tr>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d29f18></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d2b408></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d2b818></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d2ba70></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d2bbd8></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d2bef8></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d2b908></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d2b110></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d2ae40></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d2ab20></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d2a698></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d2a2b0></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d29b08></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d29158></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d28e88></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d28be0></th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reviews.each do |review| %>
        <tr>
            <td><%= review.r_id %></td>
            <td><%= review.submitted_by %></td>
            <td><%= review.mod_id %></td>
            <td><%= review.hidden %></td>
            <td><%= review.rating1 %></td>
            <td><%= review.TINYINT %></td>
            <td><%= review.rating2 %></td>
            <td><%= review.TINYINT %></td>
            <td><%= review.rating3 %></td>
            <td><%= review.TINYINT %></td>
            <td><%= review.rating4 %></td>
            <td><%= review.TINYINT %></td>
            <td><%= review.rating5 %></td>
            <td><%= review.TINYINT %></td>
            <td><%= review.submitted %></td>
            <td><%= review.edited %></td>
            <td><%= link_to 'Show', review %></td>
          <td><%= link_to 'Edit', edit_review_path(review) %></td>
          <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New review', new_review_path %>
</div>