<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>id:</strong>
    <%= @review.id %>
  </p>

    <p>
    <strong>submitted_by:</strong>
    <%= @review.submitted_by %>
  </p>

    <p>
    <strong>mod_id:</strong>
    <%= @review.mod_id %>
  </p>

    <p>
    <strong>hidden:</strong>
    <%= @review.hidden %>
  </p>

    <p>
    <strong>rating1:</strong>
    <%= @review.rating1 %>
  </p>

    <p>
    <strong>rating2:</strong>
    <%= @review.rating2 %>
  </p>

    <p>
    <strong>rating3:</strong>
    <%= @review.rating3 %>
  </p>

    <p>
    <strong>rating4:</strong>
    <%= @review.rating4 %>
  </p>

    <p>
    <strong>rating5:</strong>
    <%= @review.rating5 %>
  </p>

    <p>
    <strong>submitted:</strong>
    <%= @review.submitted %>
  </p>

    <p>
    <strong>edited:</strong>
    <%= @review.edited %>
  </p>

    <p>
    <strong>text_body:</strong>
    <%= @review.text_body %>
  </p>

    <%= link_to 'Edit', edit_review_path(@review) %> |
  <%= link_to 'Back', reviews_path %>
</div>