<p id="notice"><%= notice %></p>

<p>
  <strong>R:</strong>
  <%= @review.r_id %>
</p>

<p>
  <strong>Submitted by:</strong>
  <%= @review.submitted_by %>
</p>

<p>
  <strong>Mod:</strong>
  <%= @review.mod_id %>
</p>

<p>
  <strong>Hidden:</strong>
  <%= @review.hidden %>
</p>

<p>
  <strong>Rating1:</strong>
  <%= @review.rating1 %>
</p>

<p>
  <strong>Tinyint:</strong>
  <%= @review.TINYINT %>
</p>

<p>
  <strong>Rating2:</strong>
  <%= @review.rating2 %>
</p>

<p>
  <strong>Tinyint:</strong>
  <%= @review.TINYINT %>
</p>

<p>
  <strong>Rating3:</strong>
  <%= @review.rating3 %>
</p>

<p>
  <strong>Tinyint:</strong>
  <%= @review.TINYINT %>
</p>

<p>
  <strong>Rating4:</strong>
  <%= @review.rating4 %>
</p>

<p>
  <strong>Tinyint:</strong>
  <%= @review.TINYINT %>
</p>

<p>
  <strong>Rating5:</strong>
  <%= @review.rating5 %>
</p>

<p>
  <strong>Tinyint:</strong>
  <%= @review.TINYINT %>
</p>

<p>
  <strong>Submitted:</strong>
  <%= @review.submitted %>
</p>

<p>
  <strong>Edited:</strong>
  <%= @review.edited %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
