<%= form_for(@mod_asset_file) do |f| %>
  <% if @mod_asset_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mod_asset_file.errors.count, "error") %> prohibited this mod_asset_file from being saved:</h2>

      <ul>
      <% @mod_asset_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :maf_id %><br>
    <%= f.number_field :maf_id %>
  </div>
  <div class="field">
    <%= f.label :filepath %><br>
    <%= f.text_field :filepath %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
