<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>mod_asset_files</h1>

  <table>
    <thead>
      <tr>
          <th>maf_id</th>
          <th>filepath</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @mod_asset_files.each do |mod_asset_file| %>
        <tr>
            <td><%= mod_asset_file.maf_id %></td>
            <td><%= mod_asset_file.filepath %></td>
            <td><%= link_to 'Show', mod_asset_file %></td>
          <td><%= link_to 'Edit', edit_mod_asset_file_path(mod_asset_file) %></td>
          <td><%= link_to 'Destroy', mod_asset_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Mod Asset File', new_mod_asset_file_path %>
</div>