<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>id:</strong>
    <%= @mod_asset_file.id %>
  </p>

    <p>
    <strong>filepath:</strong>
    <%= @mod_asset_file.filepath %>
  </p>

    <%= link_to 'Edit', edit_mod_asset_file_path(@mod_asset_file) %> |
  <%= link_to 'Back', mod_asset_files_path %>
</div>