<%= form_for(@workshop_info) do |f| %>
  <% if @workshop_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workshop_info.errors.count, "error") %> prohibited this workshop_info from being saved:</h2>

      <ul>
      <% @workshop_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ws_id %><br>
    <%= f.number_field :ws_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
