<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>ws_id:</strong>
    <%= @workshop_info.ws_id %>
  </p>

    <p>
    <strong>mod_id:</strong>
    <%= @workshop_info.mod_id %>
  </p>

    <%= link_to 'Edit', edit_workshop_info_path(@workshop_info) %> |
  <%= link_to 'Back', workshop_infos_path %>
</div>