<p id="notice"><%= notice %></p>

<h1>Listing Mods</h1>

<table>
  <thead>
    <tr>
      <th>Mod</th>
      <th>Game</th>
      <th>Name</th>
      <th>Aliases</th>
      <th>Is utility</th>
      <th>Category</th>
      <th>Has adult content</th>
      <th>Nm</th>
      <th>Ws</th>
      <th>Ll</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mods.each do |mod| %>
      <tr>
        <td><%= mod.mod_id %></td>
        <td><%= mod.game %></td>
        <td><%= mod.name %></td>
        <td><%= mod.aliases %></td>
        <td><%= mod.is_utility %></td>
        <td><%= mod.category %></td>
        <td><%= mod.has_adult_content %></td>
        <td><%= mod.nm_id %></td>
        <td><%= mod.ws_id %></td>
        <td><%= mod.ll_id %></td>
        <td><%= link_to 'Show', mod %></td>
        <td><%= link_to 'Edit', edit_mod_path(mod) %></td>
        <td><%= link_to 'Destroy', mod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mod', new_mod_path %>
