<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>mods</h1>

  <table>
    <thead>
      <tr>
          <th>mod_id</th>
          <th>game_id</th>
          <th>name</th>
          <th>aliases</th>
          <th>is_utility</th>
          <th>category</th>
          <th>has_adult_content</th>
          <th>nm_id</th>
          <th>ws_id</th>
          <th>ll_id</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @mods.each do |mod| %>
        <tr>
            <td><%= mod.mod_id %></td>
            <td><%= mod.game_id %></td>
            <td><%= mod.name %></td>
            <td><%= mod.aliases %></td>
            <td><%= mod.is_utility %></td>
            <td><%= mod.category %></td>
            <td><%= mod.has_adult_content %></td>
            <td><%= mod.nm_id %></td>
            <td><%= mod.ws_id %></td>
            <td><%= mod.ll_id %></td>
            <td><%= link_to 'Show', mod %></td>
          <td><%= link_to 'Edit', edit_mod_path(mod) %></td>
          <td><%= link_to 'Destroy', mod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Mod', new_mod_path %>
</div>