<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>mod_id:</strong>
    <%= @mod.mod_id %>
  </p>

    <p>
    <strong>game:</strong>
    <%= @mod.game %>
  </p>

    <p>
    <strong>name:</strong>
    <%= @mod.name %>
  </p>

    <p>
    <strong>aliases:</strong>
    <%= @mod.aliases %>
  </p>

    <p>
    <strong>is_utility:</strong>
    <%= @mod.is_utility %>
  </p>

    <p>
    <strong>category:</strong>
    <%= @mod.category %>
  </p>

    <p>
    <strong>has_adult_content:</strong>
    <%= @mod.has_adult_content %>
  </p>

    <p>
    <strong>nm_id:</strong>
    <%= @mod.nm_id %>
  </p>

    <p>
    <strong>ws_id:</strong>
    <%= @mod.ws_id %>
  </p>

    <p>
    <strong>ll_id:</strong>
    <%= @mod.ll_id %>
  </p>

    <%= link_to 'Edit', edit_mod_path(@mod) %> |
  <%= link_to 'Back', mods_path %>
</div>