<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x0000000792dd10>:</strong>
    <%= @mod.mod_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x0000000792d900>:</strong>
    <%= @mod.game %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x0000000792d400>:</strong>
    <%= @mod.name %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x0000000792cff0>:</strong>
    <%= @mod.aliases %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x0000000792cac8>:</strong>
    <%= @mod.is_utility %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x0000000792c6e0>:</strong>
    <%= @mod.category %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x000000079579f8>:</strong>
    <%= @mod.has_adult_content %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x000000079565d0>:</strong>
    <%= @mod.nm_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007955a68>:</strong>
    <%= @mod.ws_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x0000000795c160>:</strong>
    <%= @mod.ll_id %>
  </p>

    <%= link_to 'Edit', edit_mod_path(@mod) %> |
  <%= link_to 'Back', mods_path %>
</div>