<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>mod_id:</strong>
    <%= @mod.mod_id %>
  </p>

    <p>
    <strong>game_id:</strong>
    <%= @mod.game_id %>
  </p>

    <p>
    <strong>name:</strong>
    <%= @mod.name %>
  </p>

    <p>
    <strong>aliases:</strong>
    <%= @mod.aliases %>
  </p>

    <p>
    <strong>is_utility:</strong>
    <%= @mod.is_utility %>
  </p>

    <p>
    <strong>has_adult_content:</strong>
    <%= @mod.has_adult_content %>
  </p>

    <p>
    <strong>primary_category_id:</strong>
    <%= @mod.primary_category_id %>
  </p>

    <p>
    <strong>secondary_category_id:</strong>
    <%= @mod.secondary_category_id %>
  </p>

    <%= link_to 'Edit', edit_mod_path(@mod) %> |
  <%= link_to 'Back', mods_path %>
</div>