<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @user.user_id %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>User level:</strong>
  <%= @user.user_level %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @user.avatar %>
</p>

<p>
  <strong>Joined:</strong>
  <%= @user.joined %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio_id %>
</p>

<p>
  <strong>Set:</strong>
  <%= @user.set_id %>
</p>

<p>
  <strong>Rep:</strong>
  <%= @user.rep_id %>
</p>

<p>
  <strong>Active ml:</strong>
  <%= @user.active_ml_id %>
</p>

<p>
  <strong>Active mc:</strong>
  <%= @user.active_mc_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Sign in count:</strong>
  <%= @user.sign_in_count %>
</p>

<p>
  <strong>Current sign in at:</strong>
  <%= @user.current_sign_in_at %>
</p>

<p>
  <strong>Last sign in at:</strong>
  <%= @user.last_sign_in_at %>
</p>

<p>
  <strong>Current sign in ip:</strong>
  <%= @user.current_sign_in_ip %>
</p>

<p>
  <strong>Last sign in ip:</strong>
  <%= @user.last_sign_in_ip %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
