<% content_for :head do %>
    <title>Mod Picker: Help Center - <%= @help_video.title %></title>
    <script src="https://www.youtube.com/iframe_api"></script>
<% end %>

<div class="help-video-container">
    <div class="page-container help-page-content">
        <div class="help-page-header">
            <h1 class="page-title">
                <%= @help_video.title %>
                <span class="right-item">
                <% if can? :update, @help_video %>
                <%= link_to "/videos/#{@help_video.url}/edit" do %>
                <span class="action-box">
                    <i class="fa fa-edit" aria-hidden="true"></i> Edit Help Video
                </span>
                <% end %>
                <% end %>
            </span>
            </h1>

            <span class="meta author">
              <i class="fa fa-user" aria-hidden="true" title="Author"></i>
                <%= link_to @help_video.submitter.username, "/skyrim#/user/#{@help_video.submitter.id}", class: "medium-link" %>
            </span>

                <!-- date posted/edited conditional-->
            <span class="meta date">
                <span class="submit-date" title="<%= @help_video.submitted.strftime("%m/%d/%Y %I:%M:%S %z") %>">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <%= @help_video.submitted.strftime("Created %b %e %Y") %>
                </span>

                <% if @help_video.edited %>
                <span class="edit-date" title="<%= @help_video.edited.strftime("%m/%d/%Y %I:%M:%S %z") %>">
                  - <em><%= @help_video.edited.strftime("Updated %b %e %Y") %></em>
                </span>
                <% end %>
            </span>

            <span class="meta">
                <span class="category">
                    <i class="fa fa-folder" aria-hidden="true" title="Category"></i>
                    <%= link_to @help_video.category.humanize, "/help/category/#{@help_video.category}", class: "medium-link capitalize" %>
                </span>

                <% if @help_video.game.present? %>
                <span class="game">
                  <i class="fa fa-gamepad" aria-hidden="true" title="Game"></i>
                    <%= link_to @help_video.game.display_name, "/help/game/#{@help_video.game.display_name}", class: "medium-link" %>
                </span>
                <% end %>
            </span>
        </div>
    </div>

    <div class="help-video-player">
        <video-toc video-id="<%= @help_video.id %>"></video-toc>
        <video-player youtube-id="<%= @help_video.youtube_id %>"></video-player>
    </div>
</div>

<div class="page-container help-video-content">
    <!-- help page body content -->
    <div class="help-page-body">
        <%= markdown(@help_video.text_body) %>
    </div>

    <!-- footer -->
    <div class="help-page-footer">
        <div class="footer-meta">
            <span class="meta author">
                <i class="fa fa-user" aria-hidden="true" title="Author"></i>
                <%= link_to @help_video.submitter.username, "/skyrim#/user/#{@help_video.submitter.id}", class: "medium-link" %>
            </span>

            <span class="meta date">
                <span class="submit-date" title="<%= @help_video.submitted.strftime("%m/%d/%Y %I:%M:%S %z") %>">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <%= @help_video.submitted.strftime("Created %b %e %Y") %>
                </span>

                <% if @help_video.edited %>
                <span class="edit-date" title="<%= @help_video.edited.strftime("%m/%d/%Y %I:%M:%S %z") %>">
                    - <em><%= @help_video.edited.strftime("Updated %b %e %Y") %></em>
                </span>
                <% end %>
            </span>
        </div>

        <!--social media share section-->
        <div class="share-section">
            <!-- Sharingbutton Facebook -->
            <a class="share-link" href="https://facebook.com/sharer/sharer.php?u=<%= request.original_url %>"
               target="_blank" title="Share this page on Facebook">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>

            <!-- Sharingbutton Twitter -->
            <a class="share-link" href="https://twitter.com/intent/tweet/?text=<%= @help_video.title + ' ' + request.original_url %>"
               target="_blank" title="Share this page on Twitter">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>

            <!-- Sharingbutton Google+ -->
            <a class="share-link" href="https://plus.google.com/share?url=<%= request.original_url %>"
               target="_blank" title="Share this page on Google+">
                <i class="fa fa-google-plus-square" aria-hidden="true"></i>
            </a>

            <!-- Sharingbutton E-Mail -->
            <a class="share-link" href="mailto:?subject=<%= @help_video.title %>&amp;body=<%= @help_video.title + ' ' + request.original_url %>"
               target="_blank" title="Share this page via E-Mail">
                <i class="fa fa-envelope-square" aria-hidden="true"></i>
            </a>

            <!-- Sharingbutton Reddit -->
            <a class="share-link" href="https://reddit.com/submit/?url=<%= request.original_url %>"
               target="_blank" title="Share this page on Reddit">
                <i class="fa fa-reddit-square" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
  