<%= form_for(@user_comment) do |f| %>
  <% if @user_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_comment.errors.count, "error") %> prohibited this user_comment from being saved:</h2>

      <ul>
      <% @user_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :c_id %><br>
    <%= f.number_field :c_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
