<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_comment.user_id %>
</p>

<p>
  <strong>C:</strong>
  <%= @user_comment.c_id %>
</p>

<%= link_to 'Edit', edit_user_comment_path(@user_comment) %> |
<%= link_to 'Back', user_comments_path %>
