<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>Listing user_mod_author_maps</h1>

  <table>
    <thead>
      <tr>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d16bc0></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007d16e68></th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @user_mod_author_maps.each do |user_mod_author_map| %>
        <tr>
            <td><%= user_mod_author_map.mod_id %></td>
            <td><%= user_mod_author_map.user_id %></td>
            <td><%= link_to 'Show', user_mod_author_map %></td>
          <td><%= link_to 'Edit', edit_user_mod_author_map_path(user_mod_author_map) %></td>
          <td><%= link_to 'Destroy', user_mod_author_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New user_mod_author_map', new_user_mod_author_map_path %>
</div>