<p id="notice"><%= notice %></p>

<p>
  <strong>Mod:</strong>
  <%= @user_mod_author_map.mod_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_mod_author_map.user_id %>
</p>

<%= link_to 'Edit', edit_user_mod_author_map_path(@user_mod_author_map) %> |
<%= link_to 'Back', user_mod_author_maps_path %>
