<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>dominant_id:</strong>
    <%= @category_priority.dominant_id %>
  </p>

    <p>
    <strong>recessive_id:</strong>
    <%= @category_priority.recessive_id %>
  </p>

    <%= link_to 'Edit', edit_category_priority_path(@category_priority) %> |
  <%= link_to 'Back', category_priorities_path %>
</div>