<%= form_for(@mod_version_file_map) do |f| %>
  <% if @mod_version_file_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mod_version_file_map.errors.count, "error") %> prohibited this mod_version_file_map from being saved:</h2>

      <ul>
      <% @mod_version_file_map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mv_id %><br>
    <%= f.number_field :mv_id %>
  </div>
  <div class="field">
    <%= f.label :maf_id %><br>
    <%= f.number_field :maf_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>