<p id="notice"><%= notice %></p>

<h1>Listing Mod Version File Maps</h1>

<table>
  <thead>
    <tr>
      <th>Mv</th>
      <th>Maf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mod_version_file_maps.each do |mod_version_file_map| %>
      <tr>
        <td><%= mod_version_file_map.mv_id %></td>
        <td><%= mod_version_file_map.maf_id %></td>
        <td><%= link_to 'Show', mod_version_file_map %></td>
        <td><%= link_to 'Edit', edit_mod_version_file_map_path(mod_version_file_map) %></td>
        <td><%= link_to 'Destroy', mod_version_file_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mod version file map', new_mod_version_file_map_path %>
