<%= form_for(@mod_list_mod) do |f| %>
  <% if @mod_list_mod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mod_list_mod.errors.count, "error") %> prohibited this mod_list_mod from being saved:</h2>

      <ul>
      <% @mod_list_mod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mod_list_id %><br>
    <%= f.number_field :mod_list_id %>
  </div>
  <div class="field">
    <%= f.label :mod_id %><br>
    <%= f.number_field :mod_id %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :install_order %><br>
    <%= f.number_field :install_order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>