<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>Listing mod_list_mods</h1>

  <table>
    <thead>
      <tr>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007be35f0></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007be3370></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007be3140></th>
          <th>#<Rails::Generators::GeneratedAttribute:0x00000007be2c40></th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @mod_list_mods.each do |mod_list_mod| %>
        <tr>
            <td><%= mod_list_mod.ml_id %></td>
            <td><%= mod_list_mod.mod_id %></td>
            <td><%= mod_list_mod.active %></td>
            <td><%= mod_list_mod.install_order %></td>
            <td><%= link_to 'Show', mod_list_mod %></td>
          <td><%= link_to 'Edit', edit_mod_list_mod_path(mod_list_mod) %></td>
          <td><%= link_to 'Destroy', mod_list_mod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New mod_list_mod', new_mod_list_mod_path %>
</div>