<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>ml_id:</strong>
    <%= @mod_list_mod.ml_id %>
  </p>

    <p>
    <strong>mod_id:</strong>
    <%= @mod_list_mod.mod_id %>
  </p>

    <p>
    <strong>active:</strong>
    <%= @mod_list_mod.active %>
  </p>

    <p>
    <strong>install_order:</strong>
    <%= @mod_list_mod.install_order %>
  </p>

    <%= link_to 'Edit', edit_mod_list_mod_path(@mod_list_mod) %> |
  <%= link_to 'Back', mod_list_mods_path %>
</div>