<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007be35f0>:</strong>
    <%= @mod_list_mod.ml_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007be3370>:</strong>
    <%= @mod_list_mod.mod_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007be3140>:</strong>
    <%= @mod_list_mod.active %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007be2c40>:</strong>
    <%= @mod_list_mod.install_order %>
  </p>

    <%= link_to 'Edit', edit_mod_list_mod_path(@mod_list_mod) %> |
  <%= link_to 'Back', mod_list_mods_path %>
</div>