<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>id:</strong>
    <%= @category.id %>
  </p>

    <p>
    <strong>parent_id:</strong>
    <%= @category.parent_id %>
  </p>

    <p>
    <strong>name:</strong>
    <%= @category.name %>
  </p>

    <p>
    <strong>description:</strong>
    <%= @category.description %>
  </p>

    <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
</div>