<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>installation_notes</h1>

  <table>
    <thead>
      <tr>
          <th>id</th>
          <th>submitted_by</th>
          <th>mv_id</th>
          <th>always</th>
          <th>note_type</th>
          <th>submitted</th>
          <th>edited</th>
          <th>text_body</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @installation_notes.each do |installation_note| %>
        <tr>
            <td><%= installation_note.id %></td>
            <td><%= installation_note.submitted_by %></td>
            <td><%= installation_note.mv_id %></td>
            <td><%= installation_note.always %></td>
            <td><%= installation_note.note_type %></td>
            <td><%= installation_note.submitted %></td>
            <td><%= installation_note.edited %></td>
            <td><%= installation_note.text_body %></td>
            <td><%= link_to 'Show', installation_note %></td>
          <td><%= link_to 'Edit', edit_installation_note_path(installation_note) %></td>
          <td><%= link_to 'Destroy', installation_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Installation Note', new_installation_note_path %>
</div>