<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>id:</strong>
    <%= @installation_note.id %>
  </p>

    <p>
    <strong>submitted_by:</strong>
    <%= @installation_note.submitted_by %>
  </p>

    <p>
    <strong>mod_version_id:</strong>
    <%= @installation_note.mod_version_id %>
  </p>

    <p>
    <strong>always:</strong>
    <%= @installation_note.always %>
  </p>

    <p>
    <strong>note_type:</strong>
    <%= @installation_note.note_type %>
  </p>

    <p>
    <strong>submitted:</strong>
    <%= @installation_note.submitted %>
  </p>

    <p>
    <strong>edited:</strong>
    <%= @installation_note.edited %>
  </p>

    <p>
    <strong>text_body:</strong>
    <%= @installation_note.text_body %>
  </p>

    <%= link_to 'Edit', edit_installation_note_path(@installation_note) %> |
  <%= link_to 'Back', installation_notes_path %>
</div>