<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007e13780>:</strong>
    <%= @installation_note.in_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007e13370>:</strong>
    <%= @installation_note.submitted_by %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007e12b78>:</strong>
    <%= @installation_note.mv_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007e129c0>:</strong>
    <%= @installation_note.always %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007e12560>:</strong>
    <%= @installation_note.note_type %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007e12128>:</strong>
    <%= @installation_note.submitted %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007e11ac0>:</strong>
    <%= @installation_note.edited %>
  </p>

    <%= link_to 'Edit', edit_installation_note_path(@installation_note) %> |
  <%= link_to 'Back', installation_notes_path %>
</div>