<%= form_for(@incorrect_note) do |f| %>
  <% if @incorrect_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incorrect_note.errors.count, "error") %> prohibited this incorrect_note from being saved:</h2>

      <ul>
      <% @incorrect_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :review_id %><br>
    <%= f.number_field :review_id %>
  </div>
  <div class="field">
    <%= f.label :compatibility_note_id %><br>
    <%= f.number_field :compatibility_note_id %>
  </div>
  <div class="field">
    <%= f.label :installation_note_id %><br>
    <%= f.number_field :installation_note_id %>
  </div>
  <div class="field">
    <%= f.label :submitted_by %><br>
    <%= f.number_field :submitted_by %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_area :reason %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>