<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>incorrect_notes</h1>

  <table>
    <thead>
      <tr>
          <th>id</th>
          <th>review_id</th>
          <th>compatibility_note_id</th>
          <th>installation_note_id</th>
          <th>submitted_by</th>
          <th>reason</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @incorrect_notes.each do |incorrect_note| %>
        <tr>
            <td><%= incorrect_note.id %></td>
            <td><%= incorrect_note.review_id %></td>
            <td><%= incorrect_note.compatibility_note_id %></td>
            <td><%= incorrect_note.installation_note_id %></td>
            <td><%= incorrect_note.submitted_by %></td>
            <td><%= incorrect_note.reason %></td>
            <td><%= link_to 'Show', incorrect_note %></td>
          <td><%= link_to 'Edit', edit_incorrect_note_path(incorrect_note) %></td>
          <td><%= link_to 'Destroy', incorrect_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Incorrect Note', new_incorrect_note_path %>
</div>