<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>inc_id:</strong>
    <%= @incorrect_note.inc_id %>
  </p>

    <p>
    <strong>r_id:</strong>
    <%= @incorrect_note.r_id %>
  </p>

    <p>
    <strong>cn_id:</strong>
    <%= @incorrect_note.cn_id %>
  </p>

    <p>
    <strong>in_id:</strong>
    <%= @incorrect_note.in_id %>
  </p>

    <p>
    <strong>submitted_by:</strong>
    <%= @incorrect_note.submitted_by %>
  </p>

    <p>
    <strong>reason:</strong>
    <%= @incorrect_note.reason %>
  </p>

    <%= link_to 'Edit', edit_incorrect_note_path(@incorrect_note) %> |
  <%= link_to 'Back', incorrect_notes_path %>
</div>