<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>id:</strong>
    <%= @incorrect_note.id %>
  </p>

    <p>
    <strong>review_id:</strong>
    <%= @incorrect_note.review_id %>
  </p>

    <p>
    <strong>compatibility_note_id:</strong>
    <%= @incorrect_note.compatibility_note_id %>
  </p>

    <p>
    <strong>installation_note_id:</strong>
    <%= @incorrect_note.installation_note_id %>
  </p>

    <p>
    <strong>submitted_by:</strong>
    <%= @incorrect_note.submitted_by %>
  </p>

    <p>
    <strong>reason:</strong>
    <%= @incorrect_note.reason %>
  </p>

    <%= link_to 'Edit', edit_incorrect_note_path(@incorrect_note) %> |
  <%= link_to 'Back', incorrect_notes_path %>
</div>