<%= form_for(@mod_list) do |f| %>
  <% if @mod_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mod_list.errors.count, "error") %> prohibited this mod_list from being saved:</h2>

      <ul>
      <% @mod_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ml_id %><br>
    <%= f.number_field :ml_id %>
  </div>
  <div class="field">
    <%= f.label :game %><br>
    <%= f.text_area :game %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.number_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :is_collection %><br>
    <%= f.check_box :is_collection %>
  </div>
  <div class="field">
    <%= f.label :is_public %><br>
    <%= f.check_box :is_public %>
  </div>
  <div class="field">
    <%= f.label :has_adult_content %><br>
    <%= f.check_box :has_adult_content %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :created %><br>
    <%= f.datetime_select :created %>
  </div>
  <div class="field">
    <%= f.label :completed %><br>
    <%= f.datetime_select :completed %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
