<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>mod_lists</h1>

  <table>
    <thead>
      <tr>
          <th>id</th>
          <th>game</th>
          <th>created_by</th>
          <th>is_collection</th>
          <th>is_public</th>
          <th>has_adult_content</th>
          <th>status</th>
          <th>created</th>
          <th>completed</th>
          <th>description</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @mod_lists.each do |mod_list| %>
        <tr>
            <td><%= mod_list.id %></td>
            <td><%= mod_list.game %></td>
            <td><%= mod_list.created_by %></td>
            <td><%= mod_list.is_collection %></td>
            <td><%= mod_list.is_public %></td>
            <td><%= mod_list.has_adult_content %></td>
            <td><%= mod_list.status %></td>
            <td><%= mod_list.created %></td>
            <td><%= mod_list.completed %></td>
            <td><%= mod_list.description %></td>
            <td><%= link_to 'Show', mod_list %></td>
          <td><%= link_to 'Edit', edit_mod_list_path(mod_list) %></td>
          <td><%= link_to 'Destroy', mod_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Mod List', new_mod_list_path %>
</div>