<p id="notice"><%= notice %></p>

<h1>Listing Mod Lists</h1>

<table>
  <thead>
    <tr>
      <th>Ml</th>
      <th>Game</th>
      <th>Created by</th>
      <th>Is collection</th>
      <th>Is public</th>
      <th>Has adult content</th>
      <th>Status</th>
      <th>Created</th>
      <th>Completed</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mod_lists.each do |mod_list| %>
      <tr>
        <td><%= mod_list.ml_id %></td>
        <td><%= mod_list.game %></td>
        <td><%= mod_list.created_by %></td>
        <td><%= mod_list.is_collection %></td>
        <td><%= mod_list.is_public %></td>
        <td><%= mod_list.has_adult_content %></td>
        <td><%= mod_list.status %></td>
        <td><%= mod_list.created %></td>
        <td><%= mod_list.completed %></td>
        <td><%= mod_list.description %></td>
        <td><%= link_to 'Show', mod_list %></td>
        <td><%= link_to 'Edit', edit_mod_list_path(mod_list) %></td>
        <td><%= link_to 'Destroy', mod_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mod list', new_mod_list_path %>
