<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007ae0ba8>:</strong>
    <%= @mod_list.ml_id %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007ae2048>:</strong>
    <%= @mod_list.game %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007ae22c8>:</strong>
    <%= @mod_list.created_by %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007ae2728>:</strong>
    <%= @mod_list.is_collection %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007ae2c78>:</strong>
    <%= @mod_list.is_public %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007ae3ad8>:</strong>
    <%= @mod_list.has_adult_content %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007ae3740>:</strong>
    <%= @mod_list.status %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007ae2ef8>:</strong>
    <%= @mod_list.created %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007ae2598>:</strong>
    <%= @mod_list.completed %>
  </p>

    <p>
    <strong>#<Rails::Generators::GeneratedAttribute:0x00000007ae1be8>:</strong>
    <%= @mod_list.description %>
  </p>

    <%= link_to 'Edit', edit_mod_list_path(@mod_list) %> |
  <%= link_to 'Back', mod_lists_path %>
</div>